<div class="second-dialog" style="display: none">
    <div class="second-dialog-inner">
        <md-toolbar><div class="md-toolbar-tools"><h2>Html editor</h2></div></md-toolbar>
        <div class="second-dialog-content" style="padding:0">
            <md-dialog-content>
                <textarea id="dfx_html_editor" style="display:none"></textarea>
            </md-dialog-content>
        </div>
        <div class="md-actions">
            <md-button ng-click="setHtmlValue()" class="md-primary">Save</md-button>
            <md-button ng-click="hideHtmlEditor()" class="md-primary">Cancel</md-button>
        </div>
    </div>
</div>