<div ng-if="attributes.isBindingPresent.value=== true" ng-show="$eval(attributes.display.value)" class="{{attributes.classes.value}}" ng-class="$eval(attributes.dynamicClasses.value)" style="{{attributes.style.value}}">
    <div class="gc-true-checkbox-label-preview"><span ng-bind="$eval(attributes.label.value)"></span></div>
    <div ng-if="attributes.dynamicPresent.value=== true" ng-repeat="item in $gcscope[attributes.source.value] track by $index" ng-style="{'margin-top' : $index > 0 && attributes.direction.value ==='column' ? '21px' : '4px', 'display': attributes.direction.value ==='column' ? 'block' : 'inline-block', 'margin-right':'15px'}">
        <div style="display: inline-block;">
            <md-checkbox ng-model="attributes.bindingBoolean.value[$index]" style="margin: 0 0 0 5px" class="md-primary" ng-class="attributes.buttonClass.value" ng-disabled="$eval(attributes.disabled.value)"
                         ng-click="ngClickFunc();sendId(component_id)"
                         ng-change="$eval(attributes.onchange.value)"
                         ng-focus="$eval(attributes.onfocus.value)"
                         ng-blur="$eval(attributes.onblur.value)"
                         ng-dblclick="$eval(attributes.ondblclick.value)"
                         ng-keypress="$eval(attributes.onkeypress.value)"
                         ng-keydown="$eval(attributes.onkeydown.value)"
                         ng-keyup="$eval(attributes.onkeyup.value)"
                         ng-mouseover="$eval(attributes.onmouseover.value)"
                         ng-mouseenter="$eval(attributes.onmouseenter.value)"
                         ng-mousemove="$eval(attributes.onmousemove.value)"
                         ng-mouseleave="$eval(attributes.onmouseleave.value)"
                         ng-mousedown="$eval(attributes.onmousedown.value)"
                         ng-mouseup="$eval(attributes.onmouseup.value)"
                         aria-label="md-checkbox"></md-checkbox>
        </div>
        <div style="display: inline-block;">{{item[attributes.checkValue.label]}}</div>
        <div ng-if="$eval(attributes.displayValue.value)" style="display: inline-block;">
            <div ng-if="attributes.bindingBoolean.value[$index]">{{item[attributes.checkValue.trueCheckValue]}}</div>
            <div ng-if="!attributes.bindingBoolean.value[$index]">{{item[attributes.checkValue.falseCheckValue]}}</div>
        </div>
        <!--{{item}}-->
    </div>

    <div ng-if="attributes.dynamicPresent.value=== false" ng-repeat="item in attributes.staticArray.value track by $index" ng-style="{'margin-top' : $index > 0 && attributes.direction.value ==='column' ? '21px' : '4px', 'display': attributes.direction.value ==='column' ? 'block' : 'inline-block', 'margin-right':'15px'}">
        <div style="display: inline-block;">
            <md-checkbox ng-model="attributes.bindingBoolean.value[$index]" style="margin: 0 0 0 5px" class="md-primary" ng-class="attributes.buttonClass.value" ng-disabled="$eval(attributes.disabled.value)"
                         ng-click="ngClickFunc();sendId(component_id)"
                         ng-change="$eval(attributes.onchange.value)"
                         ng-focus="$eval(attributes.onfocus.value)"
                         ng-blur="$eval(attributes.onblur.value)"
                         ng-dblclick="$eval(attributes.ondblclick.value)"
                         ng-keypress="$eval(attributes.onkeypress.value)"
                         ng-keydown="$eval(attributes.onkeydown.value)"
                         ng-keyup="$eval(attributes.onkeyup.value)"
                         ng-mouseover="$eval(attributes.onmouseover.value)"
                         ng-mouseenter="$eval(attributes.onmouseenter.value)"
                         ng-mousemove="$eval(attributes.onmousemove.value)"
                         ng-mouseleave="$eval(attributes.onmouseleave.value)"
                         ng-mousedown="$eval(attributes.onmousedown.value)"
                         ng-mouseup="$eval(attributes.onmouseup.value)"
                         aria-label="md-checkbox"></md-checkbox>
        </div>
        <div ng-bind="$eval(item.label)" style="display: inline-block;"></div>
        <div ng-if="$eval(attributes.displayValue.value)" style="display: inline-block;">
            <div ng-if="attributes.bindingBoolean.value[$index]">{{$eval(item.checked) || item.checked}}</div>
            <div ng-if="!attributes.bindingBoolean.value[$index]">{{$eval(item.unchecked) || item.unchecked}}</div>
        </div>
    </div>

</div>

<div ng-if="attributes.isBindingPresent.value=== false" ng-show="$eval(attributes.display.value)" class="{{attributes.classes.value}}" ng-class="$eval(attributes.dynamicClasses.value)" style="{{attributes.style.value}}">
    <div class="gc-true-checkbox-label-preview"><span ng-bind="$eval(attributes.label.value)"></span></div>
    <div ng-if="attributes.dynamicPresent.value=== true" ng-repeat="item in $gcscope[attributes.source.value] track by $index" ng-style="{'margin-top' : $index > 0 && attributes.direction.value ==='column' ? '21px' : '4px', 'display': attributes.direction.value ==='column' ? 'block' : 'inline-block', 'margin-right':'15px'}">
        <div style="display: inline-block;">
            <md-checkbox ng-model="attributes.bindingBoolean.value[$index]" style="margin: 0 0 0 5px" class="md-primary" ng-class="attributes.buttonClass.value" ng-disabled="$eval(attributes.disabled.value)"
                         ng-click="ngClickFunc()"
                         ng-change="$eval(attributes.onchange.value)"
                         ng-focus="$eval(attributes.onfocus.value)"
                         ng-blur="$eval(attributes.onblur.value)"
                         ng-dblclick="$eval(attributes.ondblclick.value)"
                         ng-keypress="$eval(attributes.onkeypress.value)"
                         ng-keydown="$eval(attributes.onkeydown.value)"
                         ng-keyup="$eval(attributes.onkeyup.value)"
                         ng-mouseover="$eval(attributes.onmouseover.value)"
                         ng-mouseenter="$eval(attributes.onmouseenter.value)"
                         ng-mousemove="$eval(attributes.onmousemove.value)"
                         ng-mouseleave="$eval(attributes.onmouseleave.value)"
                         ng-mousedown="$eval(attributes.onmousedown.value)"
                         ng-mouseup="$eval(attributes.onmouseup.value)"
                         aria-label="md-checkbox"></md-checkbox>
        </div>
        <div style="display: inline-block;">{{item[attributes.checkValue.label]}}</div>
        <div ng-if="$eval(attributes.displayValue.value)" style="display: inline-block;">
            <div ng-if="attributes.bindingBoolean.value[$index]">{{item[attributes.checkValue.trueCheckValue]}}</div>
            <div ng-if="!attributes.bindingBoolean.value[$index]">{{item[attributes.checkValue.falseCheckValue]}}</div>
        </div>
    </div>
    <div ng-if="attributes.dynamicPresent.value=== false" ng-repeat="item in attributes.staticArray.value track by $index" ng-style="{'margin-top' : $index > 0 && attributes.direction.value ==='column' ? '21px' : '4px', 'display': attributes.direction.value ==='column' ? 'block' : 'inline-block', 'margin-right':'15px'}">
        <div style="display: inline-block;">
            <md-checkbox ng-model="item.isChecked" style="margin: 0 0 0 5px" class="md-primary" ng-class="attributes.buttonClass.value" ng-disabled="$eval(attributes.disabled.value)"
                         ng-click="ngClickFunc()"
                         ng-change="$eval(attributes.onchange.value)"
                         ng-focus="$eval(attributes.onfocus.value)"
                         ng-blur="$eval(attributes.onblur.value)"
                         ng-dblclick="$eval(attributes.ondblclick.value)"
                         ng-keypress="$eval(attributes.onkeypress.value)"
                         ng-keydown="$eval(attributes.onkeydown.value)"
                         ng-keyup="$eval(attributes.onkeyup.value)"
                         ng-mouseover="$eval(attributes.onmouseover.value)"
                         ng-mouseenter="$eval(attributes.onmouseenter.value)"
                         ng-mousemove="$eval(attributes.onmousemove.value)"
                         ng-mouseleave="$eval(attributes.onmouseleave.value)"
                         ng-mousedown="$eval(attributes.onmousedown.value)"
                         ng-mouseup="$eval(attributes.onmouseup.value)"
                         aria-label="md-checkbox"></md-checkbox>
        </div>
        <div ng-bind="$eval(item.label)" style="display: inline-block;"></div>
        <div ng-if="$eval(attributes.displayValue.value)" style="display: inline-block;">
            <div ng-if="item.isChecked">{{$eval(item.checked) || item.checked}}</div>
            <div ng-if="!item.isChecked">{{$eval(item.unchecked) || item.unchecked}}</div>
        </div>
    </div>
</div>