<div flex style="{{attributes.style.value}}" class="dfx-core-gc-chips-container {{attributes.classes.value}}">
    <div ng-if="attributes.selectedInput.value==='text'">
        <md-chips class="dfx-core-gc-chips" ng-model="attributes.itemsArray.value" md-on-remove="dfxSetChipsPlaceholders(attributes.itemsArray.value.length)">
            <input type="text" class="dfx-core-gc-chips-input"
                ng-model="$mdChipsCtrl.chipBuffer" 
                ng-change="dfxCheckChipsPlaceholders(attributes.itemsArray.value.length, $mdChipsCtrl.chipBuffer)">
        </md-chips>
    </div>
    <div ng-if="attributes.selectedInput.value==='number'">
        <md-chips class="dfx-core-gc-chips" ng-model="attributes.itemsArray.value" md-on-remove="dfxSetChipsPlaceholders(attributes.itemsArray.value.length)">
            <input type="number" class="dfx-core-gc-chips-input"
                ng-model="$mdChipsCtrl.chipBuffer" 
                ng-change="dfxCheckChipsPlaceholders(attributes.itemsArray.value.length, $mdChipsCtrl.chipBuffer)">
        </md-chips>
    </div>
</div>