<div id="{{component_id}}_preview" ng-form="dateTimeForm"
    ng-show="attributes.display.value"
    class="ATTR-NONV{{classes.value}} dfx-core-gc-datetime"
    ATTR-IF{{style="attributes.style.value"}}
    ATTR-IF{{ng-class="attributes.dynamicClasses.value"}}>
    <label class="dfx-core-gc-datetime-label" ng-class="labelClass" ATTR-IF{{ng-bind="attributes.label.value"}}></label>

    FRAG-IF{{attributes.type.value === 'date' && attributes.selectedType.value !== 'ranged' && !attributes.dateFormating.value}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-notations="dateNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" md-placeholder="Enter date"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="minDate">Date is too early!</div>
                    <div ng-message="maxDate">Date is too late!</div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF

    FRAG-IF{{attributes.type.value === 'date' && attributes.selectedType.value === 'ranged' && !attributes.dateFormating.value}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-notations="dateNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" mdp-min-date="minDate" mdp-max-date="maxDate" aria-label="{{minDate}} {{maxDate}}" md-placeholder="Enter date"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="minDate">Date is too early!</div>
                    <div ng-message="maxDate">Date is too late!</div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF

    FRAG-IF{{attributes.type.value === 'date' && attributes.selectedType.value !== 'ranged' && attributes.dateFormating.value}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-format="ATTR-NONV{{dateFormat.value}}" mdp-notations="dateNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" md-placeholder="Enter date"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="minDate">Date is too early!</div>
                    <div ng-message="maxDate">Date is too late!</div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF

    FRAG-IF{{attributes.type.value === 'date' && attributes.selectedType.value === 'ranged' && attributes.dateFormating.value}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-format="ATTR-NONV{{dateFormat.value}}" mdp-notations="dateNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" mdp-min-date="minDate" mdp-max-date="maxDate" aria-label="{{minDate}} {{maxDate}}" md-placeholder="Enter date"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="minDate">Date is too early!</div>
                    <div ng-message="maxDate">Date is too late!</div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF

    FRAG-IF{{attributes.type.value === 'time' && !attributes.timeFormating.value}}
    <div>
        <mdp-time-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-notations="timeNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" md-placeholder="Enter time"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="required">This time is required!</div>
                </div>
        </mdp-time-picker>
    </div>
    FRAG-ENDIF

    FRAG-IF{{attributes.type.value === 'time' && attributes.timeFormating.value}}
    <div>
        <mdp-time-picker class="dfx-core-gc-datetime-picker" name="dateTimeField" mdp-format="ATTR-NONV{{timeFormat.value}}" mdp-notations="timeNotations.value" ng-model="ATTR-STATIC{{bindingDate.value}}" md-placeholder="Enter time"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="format">Invalid format!</div>
                    <div ng-message="required">This time is required!</div>
                </div>
        </mdp-time-picker>
    </div>
    FRAG-ENDIF
</div>