<div id="{{component_id}}_preview" ng-form="dateTimeForm"
    ng-show="attributes.display.value"
    class="ATTR-NONV{{classes.value}} dfx-core-gc-datetime"
    ATTR-IF{{style="attributes.style.value"}}
    ATTR-IF{{ng-class="attributes.dynamicClasses.value"}}>
    FRAG-IF{{attributes.mode.value === 'date' && attributes.selectedType.value !== 'ranged'}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker align-value-ATTR-NONV{{alignment.value}}" name="dateTimeField" mdp-format="ATTR-NONV{{dateFormat.value}}" ng-model="ATTR-NONV{{bindingDate.value}}"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required" ng-bind="ATTR-NONV{{isDateRequired.errorMessage}}"></div>
                    <div ng-message="format" ng-bind="ATTR-NONV{{formatMessage.value}}"></div>
                    <div ng-message="minDate" ng-bind="ATTR-NONV{{minDateMessage.value}}"></div>
                    <div ng-message="maxDate" ng-bind="ATTR-NONV{{maxDateMessage.value}}"></div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF
    FRAG-IF{{attributes.mode.value === 'date' && attributes.selectedType.value === 'ranged'}}
    <div>
        <mdp-date-picker class="dfx-core-gc-datetime-picker align-value-ATTR-NONV{{alignment.value}}" name="dateTimeField" mdp-format="ATTR-NONV{{dateFormat.value}}" ng-model="ATTR-NONV{{bindingDate.value}}" mdp-min-date="minDate" mdp-max-date="maxDate"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required" ng-bind="ATTR-NONV{{isDateRequired.errorMessage}}"></div>
                    <div ng-message="format" ng-bind="ATTR-NONV{{formatMessage.value}}"></div>
                    <div ng-message="minDate" ng-bind="ATTR-NONV{{minDateMessage.value}}"></div>
                    <div ng-message="maxDate" ng-bind="ATTR-NONV{{maxDateMessage.value}}"></div>
                </div>
        </mdp-date-picker>
    </div>
    FRAG-ENDIF
    FRAG-IF{{attributes.mode.value === 'time'}}
    <div>
        <mdp-time-picker class="dfx-core-gc-datetime-picker align-value-ATTR-NONV{{alignment.value}}" name="dateTimeField" mdp-format="ATTR-NONV{{timeFormat.value}}" ng-model="ATTR-NONV{{bindingDate.value}}"
            ATTR-IF{{ng-required="attributes.isDateRequired.value"}}
            ATTR-IF{{mdp-disabled="attributes.disabled.value"}}
            ATTR-IF{{ng-change="attributes.onchange.value"}}
            ATTR-IF{{ng-focus="attributes.onfocus.value"}}
            ATTR-IF{{ng-blur="attributes.onblur.value"}}
            ATTR-IF{{ng-click="attributes.onclick.value"}}
            ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
            ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
            ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
            ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
            ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
            ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
            ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
            ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
            ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
            ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-messages="dateTimeForm.dateTimeField.$error">
                    <div ng-message="required" ng-bind="ATTR-NONV{{isDateRequired.errorMessage}}"></div>
                    <div ng-message="format" ng-bind="ATTR-NONV{{formatMessage.value}}"></div>
                </div>
        </mdp-time-picker>
    </div>
    FRAG-ENDIF
</div>
