<div ng-if="attributes.type.value==='input'" class="dfx-core-gc-json-input-type {{attributes.whiteframe.value}} {{attributes.classes.value}} dfx-gc-web-json" style="{{attributes.style.value}}">
	<md-input-container ng-class="invalidString ? 'md-input-invalid' : ''">
		<label>{{attributes.label.value | checkExpression}}</label>
	  <input class="dfx-core-gc-json-input" ng-model="stringModel.value" ng-change="inputToJson()" />
	</md-input-container>
	<md-button class="dfx-core-gc-json-button dfx-core-gc-json-button-preview">
		<ng-md-icon icon="remove_red_eye" size="21"><ng-md-icon></md-button>
	<md-button class="dfx-core-gc-json-button dfx-core-gc-json-button-edit">
		<ng-md-icon icon="edit" size="21"></ng-md-icon>
	</md-button>
</div>
<div ng-if="attributes.type.value==='panel'" id="{{component_id}}_dfx_gc_web_json_panel" class="dfx-core-gc-json-panel-type {{attributes.whiteframe.value}} {{attributes.classes.value}} dfx-gc-web-json" style="{{attributes.style.value}}"></div>