<div ng-if="attributes.type.value==='input'" ng-show="$eval(attributes.display.value)" class="dfx-core-gc-json-input-type {{attributes.whiteframe.value}} {{attributes.classes.value}} dfx-gc-web-json" style="{{attributes.style.value}}">
	<md-input-container ng-class="{'md-input-invalid':jsonError}">
	  <input class="dfx-core-gc-json-input" ng-model="stringModel.value" ng-change="inputToJson()" ng-disabled="$eval(attributes.disabled.value)"/>
	</md-input-container>
	<md-button ng-click="showJsonDialog($event);viewDialog.mode=true" class="dfx-core-gc-json-button dfx-core-gc-json-button-preview md-altTheme-theme md-raised md-primary">
		<ng-md-icon icon="remove_red_eye" size="16" style="height: 16px; width:16px; color: white;"><ng-md-icon></md-button>
	<md-button ng-click="showJsonDialog($event);viewDialog.mode=false" class="dfx-core-gc-json-button dfx-core-gc-json-button-edit md-altTheme-theme md-raised md-primary" ng-disabled="$eval(attributes.disabled.value)">
		<ng-md-icon icon="edit" size="16" style="height: 16px; width:16px; color: white;"></ng-md-icon>
	</md-button>
</div>
<div ng-if="attributes.type.value==='panel'" ng-show="$eval(attributes.display.value)" id="{{component_id}}_dfx_gc_web_json_panel" class="dfx-core-gc-json-panel-type {{attributes.whiteframe.value}} {{attributes.classes.value}} dfx-gc-web-json" style="{{attributes.style.value}}"></div>