<div class="dfx-ve-property-treeview hover">
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" id="item-0" />
			<label for="item-0">Main Properties</label>
			<ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-4">Id:</span>
                    <input class="col-md-8" type="text" ng-model="component_id" disabled/>
                </li>
                <li class="col-md-12" dfx-gc-property="template">
                    <span class="col-md-4">Template:</span>
                    <input class="col-md-8" type="text" ng-model="attributes.template.value" ng-change="overrideAttribute('template')" disabled/>
                </li>
				<li class="col-md-12" dfx-gc-property="name">
					<span class="col-md-4">Name:</span>
					<input class="col-md-8" type="text" ng-model="attributes.name.value" ng-change="overrideAttribute('name')"/>
				</li>
				<li class="col-md-12" dfx-gc-property="display">
					<span class="col-md-4">Display:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.display.value" ng-change="overrideAttribute('display')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" id="item-1" />
			<label for="item-1">Menu items</label>
			<ul class="dfx-ve-property-treeview-content">
				<li class="col-md-12">
					<span class="col-md-4">Static:</span>
					<dfx-ve-menu-editor></dfx-ve-menu-editor>					
				</li>
				<li class="col-md-12">
					<span class="col-md-4">Dynamic:</span>
					<input class="col-md-8" type="text" ng-model="attributes.dynamic.value" ng-change="overrideAttribute('dynamic')" />
				</li>
			</ul>
		</li>
	</ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-3" />
            <label for="item-3">Styling Attributes</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-4">Style:</span>
                    <div class="col-md-8" layout="row">
                        <input class="col-md-12" type="text" ng-model="attributes.style.value" ng-change="overrideAttribute('style')" style="margin-left:-15px;"/>
                        <dfx-ve-css-style></dfx-ve-css-style>
                    </div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">Class:</span>
                    <input class="col-md-8" type="text" ng-model="attributes.classes.value"  ng-change="overrideAttribute('classes')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">Dynamic Class:</span>
                    <input class="col-md-8" type="text" ng-model="attributes.dynamicClasses.value"  ng-change="overrideAttribute('dynamicClasses')"/>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" checked id="item-4" />
            <label for="item-4">Events</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-4">On Click:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onclick.value" ng-change="overrideAttribute('onclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Double Click:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.ondblclick.value" ng-change="overrideAttribute('ondblclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Press:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeypress.value" ng-change="overrideAttribute('onkeypress')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Down:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeydown.value" ng-change="overrideAttribute('onkeydown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Up:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeyup.value" ng-change="overrideAttribute('onkeyup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Over:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseover.value" ng-change="overrideAttribute('onmouseover')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Enter:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseenter.value" ng-change="overrideAttribute('onmouseenter')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Move:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousemove.value" ng-change="overrideAttribute('onmousemove')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Leave:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseleave.value" ng-change="overrideAttribute('onmouseleave')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Down:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousedown.value" ng-change="overrideAttribute('onmousedown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Up:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseup.value" ng-change="overrideAttribute('onmouseup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
            </ul>
        </li>
    </ul>
</div>