<md-dialog aria-label="textarea" ng-cloak>
<form>
<md-toolbar><div class="md-toolbar-tools">
<h2>Html content</h2>
</div></md-toolbar>
<md-dialog-content layout="column" style="max-width:800px;max-height:810px;width:800px;height:400px;">
<textarea id="dfx_html_editor" style="display:none"></textarea>
</md-dialog-content>
<div class="md-actions"> 
<md-button ng-click="saveDialog()" class="md-primary">Save</md-button> 
<md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button> 
</div> 
</form>
</md-dialog>