<div layout="column" ng-show="$eval(attributes.display.value)" style="{{attributes.style.value}}" class="{{attributes.classes.value}}" ng-class="$eval(attributes.dynamicClasses.value)">
  <div id="{{component_id}}_menu_bar" ng-if="attributes.menuItems.value.length > 0 || scope.attributes.dynamicPresent.value"
       ng-click="$eval(attributes.onclick.value)"
       ng-dblclick="$eval(attributes.ondblclick.value)"
       ng-keypress="$eval(attributes.onkeypress.value)"
       ng-keydown="$eval(attributes.onkeydown.value)"
       ng-keyup="$eval(attributes.onkeyup.value)"
       ng-mouseover="$eval(attributes.onmouseover.value)"
       ng-mouseenter="$eval(attributes.onmouseenter.value)"
       ng-mousemove="$eval(attributes.onmousemove.value)"
       ng-mouseleave="$eval(attributes.onmouseleave.value)"
       ng-mousedown="$eval(attributes.onmousedown.value)"
       ng-mouseup="$eval(attributes.onmouseup.value)"></div>
</div>