<div style="{{attributes.style.value}}" class="dfx-core-gc-icon {{attributes.classes.value}}">
    <button class="dfx-core-gc-icon-button">
        <div ng-if="!attributes.state.value && attributes.waiting.value !== 'true'">
            <div style="text-align: center">
                <md-icon ng-if="attributes.icon.type ==='fa-icon'" class="fa {{$eval(attributes.icon.value) || 'fa-home'}} {{attributes.icon.class}}" style="font-size: {{attributes.icon.size}}px, width: {{attributes.icon.size}}px, height: {{attributes.icon.size}}px; {{attributes.icon.style}}" aria-label="GC Icon"></md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon'" icon="{{$eval(attributes.icon.value) || 'home'}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}" class="{{attributes.icon.class}}"></ng-md-icon>
            </div>            
        </div>
        <div ng-if="attributes.state.value && attributes.waiting.value !== 'true'">
            <div style="text-align: center">
                <md-icon ng-if="attributes.state.icon.type ==='fa-icon'" class="fa {{$eval(attributes.state.icon.value) || 'fa-home'}} {{attributes.icon.class}} {{attributes.state.icon.class}}" style="font-size: {{attributes.icon.size}}px, width: {{attributes.icon.size}}px, height: {{attributes.icon.size}}px; {{attributes.icon.style}}; {{attributes.state.icon.style}}" aria-label="GC Icon"></md-icon>
                <ng-md-icon ng-if="attributes.state.icon.type ==='svg-icon'" icon="{{$eval(attributes.state.icon.value) || 'home'}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; {{attributes.state.icon.style}}" class="{{attributes.icon.class}} {{attributes.state.icon.class}}"></ng-md-icon>
            </div>        
        </div>
        <div ng-if="attributes.waiting.value === 'true'">
            <div style="text-align: center">
                <md-icon ng-if="attributes.waiting.icon.type ==='fa-icon'" class="fa {{$eval(attributes.waiting.icon.value) || 'fa-spinner'}} {{attributes.icon.class}} {{attributes.waiting.icon.class}}" style="font-size: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; {{attributes.icon.style}}; {{attributes.waiting.icon.style}}"></md-icon>
                <ng-md-icon ng-if="attributes.waiting.icon.type ==='svg-icon'" icon="{{$eval(attributes.waiting.icon.value) || 'track_changes'}}" size="{{attributes.icon.size}}" class="{{attributes.icon.class}} {{attributes.waiting.icon.class}}" style="{{attributes.icon.style}}; {{attributes.waiting.icon.style}}"></ng-md-icon>
            </div>        
        </div>
        <span ng-show="attributes.label.value !== ''" style="{{attributes.label.style}}" class="dfx-core-gc-icon-label {{attributes.label.class}}">{{attributes.label.value | checkExpression}}</span>
    </button>
</div>