<div class="dfx-ve-property-treeview hover">
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" id="item-0" />
			<label for="item-0">Main Properties</label>
			<ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-4">Id:</span>
                    <input class="col-md-8" type="text" ng-model="component_id" disabled/>
                </li>
                <li class="col-md-12" dfx-gc-property="template">
                    <span class="col-md-4">Template:</span>
										<md-input-container class="col-md-8" style="padding: 0 0 4px 0">
          						<md-select aria-label="rating-range" ng-model="attributes.template.value" ng-change="overrideAttribute('template');reinitComponentWithTemplate(attributes.template.value);">
          			        <md-option ng-repeat="gc_template in gc_templates_by_type" value="{{gc_template.name}}">{{gc_template.name}}</md-option>
          			      </md-select>
          					</md-input-container>
                </li>
				<li class="col-md-12" dfx-gc-property="name">
					<span class="col-md-4">Name:</span>
					<input class="col-md-8" type="text" ng-model="attributes.name.value" ng-change="overrideAttribute('name')" ng-focus="cacheAttributeOldValue({'name':'name'})" ng-blur="cacheAttributeNewValue('name')"/>
				</li>
				<li class="col-md-12" dfx-gc-property="display">
					<span class="col-md-4">Display:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.display.value" ng-change="overrideAttribute('display')" ng-focus="cacheAttributeOldValue({'name':'display'})" ng-blur="cacheAttributeNewValue('display')"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
                <li class="col-md-12">
                    <span class="col-md-4">Menu Items:</span>
                    <dfx-ve-menu-editor></dfx-ve-menu-editor>
                </li>
			</ul>
		</li>
	</ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-3" />
            <label for="item-3">Styling Attributes</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="container-styles" id="container-styles" />
                    <label for="container-styles" class="dfx-ve-property-title-level-1"><span>Container Styling</span></label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-4">Style:</span>
                            <div class="col-md-8" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.style.value" ng-change="overrideAttribute('style')" ng-focus="cacheAttributeOldValue({'name':'style'})" ng-blur="cacheAttributeNewValue('style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.classes.value"  ng-change="overrideAttribute('classes')" ng-focus="cacheAttributeOldValue({'name':'classes'})" ng-blur="cacheAttributeNewValue('classes')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Dynamic Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.dynamicClasses.value"  ng-change="overrideAttribute('dynamicClasses')" ng-focus="cacheAttributeOldValue({'name':'dynamicClasses'})" ng-blur="cacheAttributeNewValue('dynamicClasses')"/>
                        </li>
                    </ul>
                </li>
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="menu-styles" id="menu-styles" />
                    <label for="menu-styles" class="dfx-ve-property-title-level-1"><span>Menu Styling</span></label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-4">Style:</span>
                            <div class="col-md-8" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.rootMenu.button.style" ng-change="overrideAttribute('rootMenu.button.style')" ng-focus="cacheAttributeOldValue({'name':'rootMenu.button.style'})" ng-blur="cacheAttributeNewValue('rootMenu.button.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.rootMenu.button.class" ng-change="overrideAttribute('rootMenu.button.class')" ng-focus="cacheAttributeOldValue({'name':'rootMenu.button.class'})" ng-blur="cacheAttributeNewValue('rootMenu.button.class')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Size:</span>
                            <input class="col-md-8" type="number" ng-model="attributes.rootMenu.icon.size" ng-change="overrideAttribute('rootMenu.icon.size')" ng-focus="cacheAttributeOldValue({'name':'rootMenu.icon.size'})" ng-blur="cacheAttributeNewValue('rootMenu.icon.size')"/>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Style:</span>
                            <div class="col-md-8" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.rootMenu.icon.style" ng-change="overrideAttribute('rootMenu.icon.style')" ng-focus="cacheAttributeOldValue({'name':'rootMenu.icon.style'})" ng-blur="cacheAttributeNewValue('rootMenu.icon.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.rootMenu.icon.class" ng-change="overrideAttribute('rootMenu.icon.class')" ng-focus="cacheAttributeOldValue({'name':'rootMenu.icon.class'})" ng-blur="cacheAttributeNewValue('rootMenu.icon.class')"/>
                        </li>
                    </ul>
                </li>
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-styles" id="itemr-styles" />
                    <label for="itemr-styles" class="dfx-ve-property-title-level-1"><span>Item Styling</span></label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-4">Style:</span>
                            <div class="col-md-8" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.singleMenu.button.style" ng-change="overrideAttribute('singleMenu.button.style')" ng-focus="cacheAttributeOldValue({'name':'singleMenu.button.style'})" ng-blur="cacheAttributeNewValue('singleMenu.button.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.singleMenu.button.class" ng-change="overrideAttribute('singleMenu.button.class')" ng-focus="cacheAttributeOldValue({'name':'singleMenu.button.class'})" ng-blur="cacheAttributeNewValue('singleMenu.button.class')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Size:</span>
                            <input class="col-md-8" type="number" ng-model="attributes.singleMenu.icon.size" ng-change="overrideAttribute('singleMenu.icon.size')" ng-focus="cacheAttributeOldValue({'name':'singleMenu.icon.size'})" ng-blur="cacheAttributeNewValue('singleMenu.icon.size')"/>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Style:</span>
                            <div class="col-md-8" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.singleMenu.icon.style" ng-change="overrideAttribute('singleMenu.icon.style')" ng-focus="cacheAttributeOldValue({'name':'singleMenu.icon.style'})" ng-blur="cacheAttributeNewValue('singleMenu.icon.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-4">Icon Class:</span>
                            <input class="col-md-8" type="text" ng-model="attributes.singleMenu.icon.class" ng-change="overrideAttribute('singleMenu.icon.class')" ng-focus="cacheAttributeOldValue({'name':'singleMenu.icon.class'})" ng-blur="cacheAttributeNewValue('singleMenu.icon.class')"/>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" checked id="item-4" />
            <label for="item-4">Events</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-4">On Click:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onclick.value" ng-change="overrideAttribute('onclick')" ng-focus="cacheAttributeOldValue({'name':'onclick'})" ng-blur="cacheAttributeNewValue('onclick')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Double Click:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.ondblclick.value" ng-change="overrideAttribute('ondblclick')" ng-focus="cacheAttributeOldValue({'name':'ondblclick'})" ng-blur="cacheAttributeNewValue('ondblclick')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Press:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeypress.value" ng-change="overrideAttribute('onkeypress')" ng-focus="cacheAttributeOldValue({'name':'onkeypress'})" ng-blur="cacheAttributeNewValue('onkeypress')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Down:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeydown.value" ng-change="overrideAttribute('onkeydown')" ng-focus="cacheAttributeOldValue({'name':'onkeydown'})" ng-blur="cacheAttributeNewValue('onkeydown')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Key Up:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeyup.value" ng-change="overrideAttribute('onkeyup')" ng-focus="cacheAttributeOldValue({'name':'onkeyup'})" ng-blur="cacheAttributeNewValue('onkeyup')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Over:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseover.value" ng-change="overrideAttribute('onmouseover')" ng-focus="cacheAttributeOldValue({'name':'onmouseover'})" ng-blur="cacheAttributeNewValue('onmouseover')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Enter:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseenter.value" ng-change="overrideAttribute('onmouseenter')" ng-focus="cacheAttributeOldValue({'name':'onmouseenter'})" ng-blur="cacheAttributeNewValue('onmouseenter')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Move:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousemove.value" ng-change="overrideAttribute('onmousemove')" ng-focus="cacheAttributeOldValue({'name':'onmousemove'})" ng-blur="cacheAttributeNewValue('onmousemove')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Leave:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseleave.value" ng-change="overrideAttribute('onmouseleave')" ng-focus="cacheAttributeOldValue({'name':'onmouseleave'})" ng-blur="cacheAttributeNewValue('onmouseleave')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Down:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousedown.value" ng-change="overrideAttribute('onmousedown')" ng-focus="cacheAttributeOldValue({'name':'onmousedown'})" ng-blur="cacheAttributeNewValue('onmousedown')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-4">On Mouse Up:</span>
                    <div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseup.value" ng-change="overrideAttribute('onmouseup')" ng-focus="cacheAttributeOldValue({'name':'onmouseup'})" ng-blur="cacheAttributeNewValue('onmouseup')" class="col-md-12"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
            </ul>
        </li>
    </ul>
</div>
