FRAG-IF{{attributes.binding.repeatable === false}}
<div ng-form name="inputForm"
    ng-show="attributes.display.value"
    style="ATTR-NONV{{style.value}}"
    ATTR-IF{{class="attributes.classes.value"}}
    ATTR-IF{{ng-class="attributes.dynamicClasses.value"}} >
    <div ng-if="ATTR-EXP{{attributes.selectedType.value!=='number' ? 'true' : 'false'}}ATTR-ENDEXP" layout="row"
        ng-style="{'flex-direction': ATTR-EXP{{attributes.icon.value !=='' && attributes.position.value === 'right' ? '\'row-reverse\'' : '\'row\''}}ATTR-ENDEXP}">
        <div class="gc_w_input_icon_wrap_preview" flex="none" ng-if="ATTR-EXP{{attributes.icon.value !== '' ? 'true' : 'false'}}ATTR-ENDEXP">
            <span class="gc_w_input_icon">
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && !isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && !isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
            </span>
        </div>
        <div class="layout-row flex">
            <md-input-container flex class="gc-input-icon-container" >
                <label ATTR-IF{{ng-bind="attributes.label.value"}}></label>
                <input ng-if="bindingType.value==='noBinding'" ATTR-IF{{name="attributes.name.value"}} ATTR-IF{{type="attributes.selectedType.value"}}
                    ng-model="ATTR-EXP{{attributes.binding.value ? attributes.binding.value : attributes.name.value}}ATTR-ENDEXP"
                    ATTR-IF{{ng-change="attributes.onchange.value"}}
                    ATTR-IF{{minlength="attributes.minlength.value"}} ATTR-IF{{md-maxlength="attributes.maxlength.value"}}
                    ng-pattern="attributes.pattern.value" ATTR-IF{{ng-required="attributes.required.value"}}
                    ATTR-IF{{ng-disabled="attributes.disabled.value"}} style="padding-left: 5px"
                    ATTR-IF{{ng-focus="attributes.onfocus.value"}} ATTR-IF{{ng-blur="attributes.onblur.value"}}
                    ATTR-IF{{ng-click="attributes.onclick.value"}} ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
                    ATTR-IF{{ng-keypress="attributes.onkeypress.value"}} ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
                    ATTR-IF{{ng-keyup="attributes.onkeyup.value"}} ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
                    ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}} ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
                    ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}} ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
                    ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <input ng-if="bindingType.value==='simpleBinding'" ATTR-IF{{name="attributes.name.value"}} ATTR-IF{{type="attributes.selectedType.value"}}
                    ng-model="$parent_scope.ATTR-NONV{{binding.value}}"
                    ATTR-IF{{ng-change="attributes.onchange.value"}}
                    ATTR-IF{{minlength="attributes.minlength.value"}} ATTR-IF{{md-maxlength="attributes.maxlength.value"}}
                    ng-pattern="attributes.pattern.value" ATTR-IF{{ng-required="attributes.required.value"}}
                    ATTR-IF{{ng-disabled="attributes.disabled.value"}} style="padding-left: 5px"
                    ATTR-IF{{ng-focus="attributes.onfocus.value"}} ATTR-IF{{ng-blur="attributes.onblur.value"}}
                    ATTR-IF{{ng-click="attributes.onclick.value"}} ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
                    ATTR-IF{{ng-keypress="attributes.onkeypress.value"}} ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
                    ATTR-IF{{ng-keyup="attributes.onkeyup.value"}} ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
                    ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}} ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
                    ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}} ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
                    ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                <div ng-if="bindingType.value==='complexBinding'">
                    <input ATTR-IF{{name="attributes.name.value"}} ATTR-IF{{type="attributes.selectedType.value"}}
                        ng-model="ATTR-NONV{{binding.value}}"
                        ATTR-IF{{ng-change="attributes.onchange.value"}}
                        ATTR-IF{{minlength="attributes.minlength.value"}} ATTR-IF{{md-maxlength="attributes.maxlength.value"}}
                        ng-pattern="attributes.pattern.value" ATTR-IF{{ng-required="attributes.required.value"}}
                        ATTR-IF{{ng-disabled="attributes.disabled.value"}} style="padding-left: 5px"
                        ATTR-IF{{ng-focus="attributes.onfocus.value"}} ATTR-IF{{ng-blur="attributes.onblur.value"}}
                        ATTR-IF{{ng-click="attributes.onclick.value"}} ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
                        ATTR-IF{{ng-keypress="attributes.onkeypress.value"}} ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
                        ATTR-IF{{ng-keyup="attributes.onkeyup.value"}} ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
                        ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}} ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
                        ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}} ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
                        ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
                </div>
                <div ng-if="inputForm.$dirty" ng-messages="inputForm['attributes.name.value']['$error']">
                    <span ng-message="required">ATTR-NONV{{label.value}} is required.</span>
                    <span ng-message="email">Email address is invalid.</span>
                    <span ng-message="minlength">ATTR-NONV{{label.value}} has to be not less than {{attributes.minlength.value}} characters long.</span>
                    <span ng-message="md-maxlength">ATTR-NONV{{label.value}} has to be not more than {{attributes.maxlength.value}} characters long.</span>
                    <span ng-message="pattern">{{attributes.pattern.errorMessage}}</span>
                </div>
            </md-input-container>
        </div>
    </div>
    <div ng-if="ATTR-EXP{{attributes.selectedType.value==='number' ? 'true' : 'false'}}ATTR-ENDEXP" layout="row"
        ng-style="{'flex-direction': ATTR-EXP{{attributes.icon.value !=='' && attributes.position.value === 'right' ? '\'row-reverse\'' : '\'row\''}}ATTR-ENDEXP}">
        <div class="gc_w_input_icon_wrap_preview" flex="none" ng-if="ATTR-EXP{{attributes.icon.value !== '' ? 'true' : 'false'}}ATTR-ENDEXP">
            <span class="gc_w_input_icon">
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && !isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && !isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
            </span>
        </div>
        <div class="layout-row flex">
            <md-input-container flex class="gc-input-icon-container" >
                <label ATTR-IF{{ng-bind="attributes.label.value"}}></label>
                <input ng-if="bindingType.value==='noBinding'" ATTR-IF{{name="attributes.name.value"}} type="number"
                    ng-model="ATTR-EXP{{attributes.binding.value ? attributes.binding.value : attributes.name.value}}ATTR-ENDEXP"
                    ATTR-IF{{ng-change="attributes.onchange.value)"
                    ATTR-IF{{min="attributes.minNumber.value"}} ATTR-IF{{max="attributes.maxNumber.value"}} step="any"
                    ATTR-IF{{ng-disabled="attributes.disabled.value)" ATTR-IF{{ng-required="attributes.required.value)"
                    style="padding-left: 5px" ATTR-IF{{ng-focus="attributes.onfocus.value)"
                    ATTR-IF{{ng-blur="attributes.onblur.value)" ATTR-IF{{ng-click="attributes.onclick.value)"
                    ATTR-IF{{ng-dblclick="attributes.ondblclick.value)" ATTR-IF{{ng-keypress="attributes.onkeypress.value)"
                    ATTR-IF{{ng-keydown="attributes.onkeydown.value)" ATTR-IF{{ng-keyup="attributes.onkeyup.value)"
                    ATTR-IF{{ng-mouseover="attributes.onmouseover.value)" ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value)"
                    ATTR-IF{{ng-mousemove="attributes.onmousemove.value)" ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value)"
                    ATTR-IF{{ng-mousedown="attributes.onmousedown.value)" ATTR-IF{{ng-mouseup="attributes.onmouseup.value)">
                <input ng-if="bindingType.value==='simpleBinding'" ATTR-IF{{name="attributes.name.value"}} type="number"
                    ng-model="$parent_scope.ATTR-NONV{{binding.value}}"
                    ATTR-IF{{ng-change="attributes.onchange.value)"
                    ATTR-IF{{min="attributes.minNumber.value"}} ATTR-IF{{max="attributes.maxNumber.value"}} step="any"
                    ATTR-IF{{ng-disabled="attributes.disabled.value)" ATTR-IF{{ng-required="attributes.required.value)"
                    style="padding-left: 5px" ATTR-IF{{ng-focus="attributes.onfocus.value)"
                    ATTR-IF{{ng-blur="attributes.onblur.value)" ATTR-IF{{ng-click="attributes.onclick.value)"
                    ATTR-IF{{ng-dblclick="attributes.ondblclick.value)" ATTR-IF{{ng-keypress="attributes.onkeypress.value)"
                    ATTR-IF{{ng-keydown="attributes.onkeydown.value)" ATTR-IF{{ng-keyup="attributes.onkeyup.value)"
                    ATTR-IF{{ng-mouseover="attributes.onmouseover.value)" ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value)"
                    ATTR-IF{{ng-mousemove="attributes.onmousemove.value)" ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value)"
                    ATTR-IF{{ng-mousedown="attributes.onmousedown.value)" ATTR-IF{{ng-mouseup="attributes.onmouseup.value)">
                <div ng-if="bindingType.value==='complexBinding'">
                <input ATTR-IF{{name="attributes.name.value"}} type="number"
                    ng-model="ATTR-NONV{{binding.value}}"
                    ATTR-IF{{ng-change="attributes.onchange.value)"
                    ATTR-IF{{min="attributes.minNumber.value"}} ATTR-IF{{max="attributes.maxNumber.value"}} step="any"
                    ATTR-IF{{ng-disabled="attributes.disabled.value)" ATTR-IF{{ng-required="attributes.required.value)"
                    style="padding-left: 5px" ATTR-IF{{ng-focus="attributes.onfocus.value)"
                    ATTR-IF{{ng-blur="attributes.onblur.value)" ATTR-IF{{ng-click="attributes.onclick.value)"
                    ATTR-IF{{ng-dblclick="attributes.ondblclick.value)" ATTR-IF{{ng-keypress="attributes.onkeypress.value)"
                    ATTR-IF{{ng-keydown="attributes.onkeydown.value)" ATTR-IF{{ng-keyup="attributes.onkeyup.value)"
                    ATTR-IF{{ng-mouseover="attributes.onmouseover.value)" ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value)"
                    ATTR-IF{{ng-mousemove="attributes.onmousemove.value)" ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value)"
                    ATTR-IF{{ng-mousedown="attributes.onmousedown.value)" ATTR-IF{{ng-mouseup="attributes.onmouseup.value)">
                </div>
                <div ng-if="inputForm.$dirty" ng-messages="inputForm['attributes.name.value']['$error']">
                    <span ng-message="required">ATTR-NONV{{label.value}} is required.</span>
                    <span ng-message="min">The number has to be not less than {{attributes.minNumber.value}}.</span>
                    <span ng-message="max">The number has to be not more than {{attributes.maxNumber.value}}.</span>
                </div>
            </md-input-container>
        </div>
    </div>
</div>
FRAG-ENDIF
FRAG-IF{{attributes.binding.repeatable === true}}
<div ng-form name="inputForm"
    ng-show="attributes.display.value"
    style="ATTR-NONV{{style.value}}"
    ATTR-IF{{class="attributes.classes.value"}}
    ATTR-IF{{ng-class="attributes.dynamicClasses.value"}} >
    <div ng-if="ATTR-EXP{{attributes.selectedType.value!=='number' ? 'true' : 'false'}}ATTR-ENDEXP" layout="row"
        ng-style="{'flex-direction': ATTR-EXP{{attributes.icon.value !=='' && attributes.position.value === 'right' ? '\'row-reverse\'' : '\'row\''}}ATTR-ENDEXP}">
        <div class="gc_w_input_icon_wrap_preview" flex="none" ng-if="ATTR-EXP{{attributes.icon.value !== '' ? 'true' : 'false'}}ATTR-ENDEXP">
            <span class="gc_w_input_icon">
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && !isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && !isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
            </span>
        </div>
        <div class="layout-row flex">
            <md-input-container flex class="gc-input-icon-container">
                <label ATTR-IF{{ng-bind="attributes.label.value)"></label>
                <input ATTR-IF{{name="attributes.name.value"}} ATTR-IF{{type="attributes.selectedType.value"}}
                    ng-model="$item[attributes.binding.$itemValue]"
                    ATTR-IF{{ng-change="attributes.onchange.value)"
                    ATTR-IF{{minlength="attributes.minlength.value"}} ATTR-IF{{md-maxlength="attributes.maxlength.value"}}
                    ATTR-IF{{ng-required="attributes.required.value)" ATTR-IF{{ng-disabled="attributes.disabled.value)"
                    ATTR-IF{{ng-pattern="attributes.pattern.value" style="padding-left: 5px" ATTR-IF{{ng-focus="attributes.onfocus.value)"
                    ATTR-IF{{ng-blur="attributes.onblur.value)" ATTR-IF{{ng-click="attributes.onclick.value)"
                    ATTR-IF{{ng-dblclick="attributes.ondblclick.value)" ATTR-IF{{ng-keypress="attributes.onkeypress.value)"
                    ATTR-IF{{ng-keydown="attributes.onkeydown.value)" ATTR-IF{{ng-keyup="attributes.onkeyup.value)"
                    ATTR-IF{{ng-mouseover="attributes.onmouseover.value)" ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value)"
                    ATTR-IF{{ng-mousemove="attributes.onmousemove.value)" ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value)"
                    ATTR-IF{{ng-mousedown="attributes.onmousedown.value)" ATTR-IF{{ng-mouseup="attributes.onmouseup.value)">
                <div ng-if="inputForm.$dirty" ng-messages="inputForm['attributes.name.value']['$error']">
                    <span ng-message="required">ATTR-NONV{{label.value}} is required.</span>
                    <span ng-message="email">Email address is invalid.</span>
                    <span ng-message="minlength">ATTR-NONV{{label.value}} has to be not less than {{attributes.minlength.value}} characters long.</span>
                    <span ng-message="md-maxlength">ATTR-NONV{{label.value}} has to be not more than {{attributes.maxlength.value}} characters long.</span>
                    <span ng-message="pattern">{{attributes.pattern.errorMessage}}</span>
                </div>
            </md-input-container>
        </div>
    </div>
    <div ng-if="ATTR-EXP{{attributes.selectedType.value==='number' ? 'true' : 'false'}}ATTR-ENDEXP" layout="row"
        ng-style="{'flex-direction': ATTR-EXP{{attributes.icon.value !=='' && attributes.position.value === 'right' ? '\'row-reverse\'' : '\'row\''}}ATTR-ENDEXP}">
        <div class="gc_w_input_icon_wrap_preview" flex="none" ng-if="ATTR-EXP{{attributes.icon.value !== '' ? 'true' : 'false'}}ATTR-ENDEXP">
            <span class="gc_w_input_icon">
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <md-icon ng-if="attributes.icon.type ==='fa-icon' && !isSimpleIcon.value" class="fa {{attributes.icon.value}} {{attributes.icon.class}}" style="{{attributes.icon.style}}; font-size: {{attributes.icon.size}}px; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;"></md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
                <ng-md-icon ng-if="attributes.icon.type ==='svg-icon' && !isSimpleIcon.value" icon="{{attributes.icon.value}}" size="{{attributes.icon.size}}" style="{{attributes.icon.style}}; height: {{attributes.icon.size}}px; width: {{attributes.icon.size}}px;" class="{{attributes.icon.class}}"></ng-md-icon>
            </span>
        </div>
        <div class="layout-row flex">
            <md-input-container flex class="gc-input-icon-container">
                <label ATTR-IF{{ng-bind="attributes.label.value)"></label>
                <input ATTR-IF{{name="attributes.name.value"}} type="number"
                    ng-model="$item[attributes.binding.$itemValue]"
                    ATTR-IF{{ng-change="attributes.onchange.value)"
                    ATTR-IF{{min="attributes.minNumber.value"}} ATTR-IF{{max="attributes.maxNumber.value"}} step="any"
                    ATTR-IF{{ng-disabled="attributes.disabled.value)" ATTR-IF{{ng-required="attributes.required.value)"
                    style="padding-left: 5px" ATTR-IF{{ng-focus="attributes.onfocus.value)"
                    ATTR-IF{{ng-blur="attributes.onblur.value)" ATTR-IF{{ng-click="attributes.onclick.value)"
                    ATTR-IF{{ng-dblclick="attributes.ondblclick.value)" ATTR-IF{{ng-keypress="attributes.onkeypress.value)"
                    ATTR-IF{{ng-keydown="attributes.onkeydown.value)" ATTR-IF{{ng-keyup="attributes.onkeyup.value)"
                    ATTR-IF{{ng-mouseover="attributes.onmouseover.value)" ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value)"
                    ATTR-IF{{ng-mousemove="attributes.onmousemove.value)" ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value)"
                    ATTR-IF{{ng-mousedown="attributes.onmousedown.value)" ATTR-IF{{ng-mouseup="attributes.onmouseup.value)">
                <div ng-if="inputForm.$dirty" ng-messages="inputForm['attributes.name.value']['$error']">
                    <span ng-message="required">ATTR-NONV{{label.value}} is required.</span>
                    <span ng-message="min">The number has to be not less than {{attributes.minNumber.value}}.</span>
                    <span ng-message="max">The number has to be not more than {{attributes.maxNumber.value}}.</span>
                </div>
            </md-input-container>
        </div>
    </div>
</div>
FRAG-ENDIF
