<div class="dfx-ve-property-treeview hover">
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" id="item-0" />
			<label for="item-0">Main Properties</label>
			<ul class="dfx-ve-property-treeview-content">
		        <li class="col-md-12">
		          <span class="col-md-4">Id:</span>
		          <input class="col-md-8" type="text" ng-model="component_id" disabled/>
		        </li>
				<li class="col-md-12" dfx-gc-property="template">
					<span class="col-md-4">Template:</span>
					<input class="col-md-8" type="text" ng-model="attributes.template.value" ng-change="overrideAttribute('template')" disabled/>
				</li>
				<li class="col-md-12" dfx-gc-property="name">
					<span class="col-md-4">Name:</span>
					<input class="col-md-8" type="text" ng-model="attributes.name.value" ng-change="overrideAttribute('name')" />
				</li>
				<li class="col-md-12" dfx-gc-property="binding">
					<span class="col-md-4">Binding:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.binding.value" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-change="overrideAttribute('binding')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
				<li class="col-md-12" dfx-gc-property="label">
					<span class="col-md-4">Label:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.label.value" ng-change="overrideAttribute('label')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
				<li class="col-md-12" dfx-gc-property="showLabel">
					<span class="col-md-4">Show Label:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.showLabel.value" ng-change="overrideAttribute('showLabel')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4" style="margin-top: 5px">Label Position:</span>
					<md-input-container class="col-md-8" style="padding: 0 0 10px">
						<md-select aria-label="Label Position:" ng-model="attributes.labelPosition.value" ng-change="overrideAttribute('labelPosition')">
							<md-option ng-repeat="labelPos in ['left','center','right']" value="{{labelPos}}">{{labelPos}}</md-option>
						</md-select>
					</md-input-container>
				</li>				
				<li class="col-md-12" dfx-gc-property="display">
					<span class="col-md-4">Display:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.display.value" ng-change="overrideAttribute('display')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li>
				<!-- <li class="col-md-12">
					<span class="col-md-4">Disabled:</span>
					<div class="col-md-8" layout="row">
						<input class="col-md-12" type="text" ng-model="attributes.options.value.readOnly" ng-change="overrideAttribute('options')" style="margin-left:-15px;"/>
						<dfx-ve-expression-editor></dfx-ve-expression-editor>
					</div>
				</li> -->
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" checked id="item-1" />
			<label for="item-1">Knob Properties</label>
			<ul class="dfx-ve-property-treeview-content">
				<li class="col-md-12">
					<span class="col-md-4">Min:</span>
					<input class="col-md-8" type="number" ng-model="attributes.options.value.min" ng-change="overrideAttribute('options')" />
				</li>
				<li class="col-md-12">
					<span class="col-md-4">Max:</span>
					<input class="col-md-8" type="number" ng-model="attributes.options.value.max" ng-change="overrideAttribute('options')" />
				</li>
				<li class="col-md-12">
					<span class="col-md-4">Step:</span>
					<input class="col-md-8" type="number" ng-model="attributes.options.value.step" ng-change="overrideAttribute('options')" />
				</li>
				<li class="col-md-12">
					<span class="col-md-4">Unit:</span>
					<input class="col-md-8" type="text" ng-model="attributes.options.value.unit" ng-change="overrideAttribute('options')" />
				</li>	
				<li class="col-md-12">
					<span class="col-md-4">Start Angle:</span>
					<input class="col-md-8" type="number" ng-model="attributes.options.value.startAngle" ng-change="overrideAttribute('options')" />
				</li>
				<li class="col-md-12">
					<span class="col-md-4">End Angle:</span>
					<input class="col-md-8" type="number" ng-model="attributes.options.value.endAngle" ng-change="overrideAttribute('options')" />
				</li>								
				<li class="col-md-12">
					<span class="col-md-4">Display Input:</span>
					<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.displayInput" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">Display Previous:</span>
					<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.displayPrevious" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
				</li>				
				<!-- <li class="col-md-12">
          <span class="col-md-4">Dynamic Options:</span>
          <span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.dynamicOptions" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
      </li> -->		
      	<li class="col-md-12">
					<span class="col-md-4">Read Only:</span>
					<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.readOnly" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
				</li>					
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<input class="dfx-ve-property-treeview-button" type="checkbox" checked id="item-3" />
			<label for="item-3">Styling Attributes</label>
			<ul class="dfx-ve-property-treeview-content">
				<li class="col-md-12">
					<input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-30" id="item-30" />
					<label for="item-30" class="dfx-ve-property-title-level-1"><span>Main Styles</span></label>
					<ul class="dfx-ve-property-treeview-content">
						<li class="col-md-12">
							<span class="col-md-4">Size:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.size" ng-change="overrideAttribute('options')" />
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Bar Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.barWidth" ng-change="overrideAttribute('options')" />
						</li>						
						<li class="col-md-12">
							<span class="col-md-4">Bar Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="bar-color" class="col-md-11" ng-model="attributes.options.value.barColor"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Bar Cap:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.barCap" ng-change="overrideAttribute('options')" />
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Track Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.trackWidth" ng-change="overrideAttribute('options')" />
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Track Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="track-color" class="col-md-11" ng-model="attributes.options.value.trackColor"></dfx-ve-color-picker>
							</div>
						</li>						
						<li class="col-md-12">
							<span class="col-md-4">Previous Bar Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="prev-bar-color" class="col-md-11" ng-model="attributes.options.value.prevBarColor"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Font Size:</span>
							<input class="col-md-8" type="text" ng-model="attributes.options.value.fontSize" ng-change="overrideAttribute('options')" />
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Text Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="text-color" class="col-md-11" ng-model="attributes.options.value.textColor"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Background Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="bg-color" class="col-md-11" ng-model="attributes.options.value.bgColor"></dfx-ve-color-picker>
							</div>
						</li>				
						<li class="col-md-12">
							<span class="col-md-4">Label Style:</span>
							<div class="col-md-8" layout="row">
								<input class="col-md-12" type="text" ng-model="attributes.labelStyle.value" ng-change="overrideAttribute('labelStyle')" style="margin-left:-15px;"/>
								<dfx-ve-css-style></dfx-ve-css-style>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Style:</span>
							<div class="col-md-8" layout="row">
								<input class="col-md-12" type="text" ng-model="attributes.style.value" ng-change="overrideAttribute('style')" style="margin-left:-15px;"/>
								<dfx-ve-css-style></dfx-ve-css-style>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Class:</span>
							<input class="col-md-8" type="text" ng-model="attributes.classes.value" ng-change="overrideAttribute('classes')" />
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Dynamic Class:</span>
							<input class="col-md-8" type="text" ng-model="attributes.dynamicClasses.value" ng-change="overrideAttribute('dynamicClasses')" />
						</li>				
					</ul>
				</li>
				<li class="col-md-12">
					<input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-31" id="item-31" />
					<label for="item-31" class="dfx-ve-property-title-level-1"><span>Skin</span></label>
					<ul class="dfx-ve-property-treeview-content">
						<li class="col-md-12">
							<span class="col-md-4">Type:</span>
							<md-input-container class="col-md-8" style="padding: 0 0 10px">
								<md-select aria-label="Type" ng-model="attributes.options.value.skin.type" ng-change="overrideAttribute('options')">
									<md-option ng-repeat="skin in ['simple', 'tron']" value="{{skin}}">{{skin}}</md-option>
								</md-select>
							</md-input-container>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.skin.width" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="" class="col-md-11" ng-model="attributes.options.value.skin.color"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Space Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.skin.spaceWidth" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
					</ul>
				</li>
	        <li class="col-md-12">
					<input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-32" id="item-32" />
					<label for="item-32" class="dfx-ve-property-title-level-1"><span>Animate</span></label>
					<ul class="dfx-ve-property-treeview-content">
						<li class="col-md-12">
							<span class="col-md-4">Enabled:</span>
							<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.animate.enabled" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Duration:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.animate.duration" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>							
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Ease:</span>
							<md-input-container class="col-md-8" style="padding: 0 0 10px">
								<md-select aria-label="Ease" ng-model="attributes.options.value.animate.ease" ng-change="overrideAttribute('options')">
									<md-option ng-repeat="labelPos in ['linear', 'bounce', 'sin', 'cubic', 'quad', 'exp', 'circle']" value="{{labelPos}}">{{labelPos}}</md-option>
								</md-select>
							</md-input-container>
						</li>          	
					</ul>
		        </li>
				<li class="col-md-12">
					<input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-33" id="item-33" />
					<label for="item-33" class="dfx-ve-property-title-level-1"><span>Sub Text</span></label>
					<ul class="dfx-ve-property-treeview-content">
						<li class="col-md-12">
							<span class="col-md-4">Enabled:</span>
							<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.subText.enabled" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Text:</span>
							<input class="col-md-8" type="text" ng-model="attributes.options.value.subText.text" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="sub-text-color" class="col-md-11" ng-model="attributes.options.value.subText.color"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Font:</span>
							<input class="col-md-8" type="text" ng-model="attributes.options.value.subText.font" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
					</ul>
        		</li>
				<li class="col-md-12">
					<input class="dfx-ve-property-treeview-button" type="checkbox" checked aria-label="item-34" id="item-34" />
					<label for="item-34" class="dfx-ve-property-title-level-1"><span>Scale</span></label>
					<ul class="dfx-ve-property-treeview-content">
						<li class="col-md-12">
							<span class="col-md-4">Enabled:</span>
							<span class="col-md-8"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.options.value.scale.enabled" ng-change="overrideAttribute('options')" aria-label="options"></md-checkbox></span>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Type:</span>
							<md-input-container class="col-md-8" style="padding: 0 0 10px">
								<md-select aria-label="Ease" ng-model="attributes.options.value.scale.type" ng-change="overrideAttribute('options')">
									<md-option ng-repeat="scale in ['dots', 'lines']" value="{{scale}}">{{scale}}</md-option>
								</md-select>
							</md-input-container>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Color:</span>
							<div class="col-md-8 dfx-knob-panel-color-picker" layout="row" style="padding:0;">
								<dfx-ve-color-picker name="" class="col-md-11" ng-model="attributes.options.value.scale.color"></dfx-ve-color-picker>
							</div>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.scale.width" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>						
						<li class="col-md-12">
							<span class="col-md-4">Height:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.scale.height" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Quantity:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.scale.quantity" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
						<li class="col-md-12">
							<span class="col-md-4">Space Width:</span>
							<input class="col-md-8" type="number" ng-model="attributes.options.value.scale.spaceWidth" style="padding-left: 6px" ng-change="overrideAttribute('options')"/>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li dfx-gc-property="onlabelclick">
			<input class="dfx-ve-property-treeview-button" type="checkbox" checked id="item-4" />
			<label for="item-4">Events</label>
			<ul class="dfx-ve-property-treeview-content">
				<li class="col-md-12" dfx-gc-property="onlabelclick">
					<span class="col-md-4">On Label Click:</span>
          			<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onlabelclick.value" ng-change="overrideAttribute('onlabelclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Click:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onclick.value" ng-change="overrideAttribute('onclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Double Click:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.ondblclick.value" ng-change="overrideAttribute('ondblclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Key Press:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeypress.value" ng-change="overrideAttribute('onkeypress')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Key Down:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeydown.value" ng-change="overrideAttribute('onkeydown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Key Up:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onkeyup.value" ng-change="overrideAttribute('onkeyup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Over:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseover.value" ng-change="overrideAttribute('onmouseover')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Enter:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseenter.value" ng-change="overrideAttribute('onmouseenter')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Move:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousemove.value" ng-change="overrideAttribute('onmousemove')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Leave:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseleave.value" ng-change="overrideAttribute('onmouseleave')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Down:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmousedown.value" ng-change="overrideAttribute('onmousedown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
				<li class="col-md-12">
					<span class="col-md-4">On Mouse Up:</span>
					<div class="col-md-8" layout="row"><input type="text" ng-model="attributes.onmouseup.value" ng-change="overrideAttribute('onmouseup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
				</li>
			</ul>
		</li>
	</ul>
</div>