<div class="{{attributes.classes.value}}"
     style="{{attributes.style.value}}"
     ng-class="$eval(attributes.dynamicClasses.value)"
     ng-show="$eval(attributes.display.value)"
     ng-click="$eval(attributes.onclick.value)"
     ng-dblclick="$eval(attributes.ondblclick.value)"
     ng-keypress="$eval(attributes.onkeypress.value)"
     ng-keydown="$eval(attributes.onkeydown.value)"
     ng-keyup="$eval(attributes.onkeyup.value)"
     ng-mouseover="$eval(attributes.onmouseover.value)"
     ng-mouseenter="$eval(attributes.onmouseenter.value)"
     ng-mousemove="$eval(attributes.onmousemove.value)"
     ng-mouseleave="$eval(attributes.onmouseleave.value)"
     ng-mousedown="$eval(attributes.onmousedown.value)"
     ng-mouseup="$eval(attributes.onmouseup.value)"
     ng-init="isRepeatable.value = false">
    <md-input-container class="md-input-has-messages md-input-has-value" style="display: block;;text-align: {{attributes.labelPosition.value}}" ng-show="$eval(attributes.showLabel.value)">
    	<label ng-click="$eval(attributes.onlabelclick.value)" ng-bind="$eval(attributes.label.value)" style="{{attributes.labelStyle.value}}"></label>
    </md-input-container>
    <div ng-if="!isRepeatable.value" class="{{component_id}}_dfx_ng_knob" dfx-item="{{$dfx_item}}" dfx-index="{{$dfx_index}}"></div>
    <div ng-if="isRepeatable.value" class="{{component_id}}_dfx_ng_knob" >
        <ui-knob id="{{component_id}}_dfx_ng_knob_{{repeated_id}}" value="0" options="attributes.options.value"></ui-knob>
    </div>
</div>