<section id="{{component_id}}_panel" flex="100" style="height:100%;{{attributes.style.value}};" layout="column" ng-class="[attributes.whiteframe.value, attributes.classes.value]" class="dfx-core-gc-panel" dfx-gc-web-container>
  <dfx-gc-toolbar-design></dfx-gc-toolbar-design>
	<md-content ng-hide="attributes.toolbar.collapsed.designValue" style="{{attributes.bodyStyle.value}}" flex="100" layout="column">
		<div id="{{component_id}}_layout_0_row_{{$index}}" layout="row" layout-wrap flex="{{row.height.value}}" style="{{row.style.value}}"
      		ng-class="row.classes.value" ng-repeat="row in attributes.layout.rows">
			<div id="{{component_id}}_layout_0_row_{{$parent.$index}}_column_{{$index}}" flex="{{col.autoWidth.value == true ? '' : col.width.value}}"
             layout="{{col.orientation.value}}" layout-align="{{col.halignment.value}} {{col.valignment.value}}"
             gc-container="layout_0_row_{{$parent.$index}}_column_{{$index}}" gc-parent="{{component_id}}"
             style="{{col.style.value}}"
             ng-style="{'flex-wrap': col.orientation.value ==='row' ? 'wrap' : 'nowrap'}"
             class="ui-placeholder dfx_visual_editor_droppable {{col.classes.value}}"
             dfx-gc-web-droppable ng-repeat="col in row.cols">
			</div>
		</div>
	</md-content>
</section>
