FRAG-IF{{attributes.repeat_in.value != '' && attributes.repeat_title.value === 'false'}}
<div ng-class="attributes.dynamicClasses.value" layout="column" flex="100" style="ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP">
    <section id="{{component_id}}_panel" class="dfx-core-gc-panel" ATTR-IF{{style="attributes.style.value"}} ng-show="attributes.display.value" dfx-gc-web-container layout="column" flex="100"
        ATTR-IF{{ng-click="attributes.onclick.value"}}
        ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
        ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
        ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
        ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
        ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
        ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
        ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
        ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
        ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div dfx-gcc-web-toolbar></div>
        <md-content flex="100" ng-hide="attributes.toolbar.collapsed.value" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
FRAG-IF{{attributes.repeat_in.value != '' && attributes.repeat_title.value === 'true'}}
<div ng-repeat-start="$dfx_item in attributes.repeat_in.value" flex="attributes.flex.value" dfx-repeatable-panel="{{$index}}" style="width: attributes.flex.value%; ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP" ng-repeat-end>
    <section id="{{component_id}}_panel_{{$index}}" dfx-gc-compiled ng-class="[attributes.whiteframe.value, attributes.classes.value, attributes.dynamicClasses.value]" class="dfx-core-gc-panel" style="attributes.style.value" dfx-ng-if="ng-if,display" dfx-gc-web-container layout="column" flex="100"
      ATTR-IF{{ng-click="attributes.onclick.value"}}
      ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
      ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
      ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
      ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
      ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
      ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
      ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
      ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
      ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div><div dfx-gcc-web-toolbar dfx-repeatable-panel="{{$index}}" layout="column"></div></div>
        <md-content flex="100" ng-hide="attributes.toolbar.collapsed.value" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
FRAG-IF{{attributes.repeat_in.value == ''}}
<div ng-class="attributes.dynamicClasses.value" layout="column" flex="100" style="ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP">
    <section id="{{component_id}}_panel" class="dfx-core-gc-panel" ATTR-IF{{style="attributes.style.value"}} ng-show="attributes.display.value" dfx-gc-web-container layout="column" flex="100"
        ATTR-IF{{ng-click="attributes.onclick.value"}}
        ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
        ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
        ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
        ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
        ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
        ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
        ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
        ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
        ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div dfx-gcc-web-toolbar></div>
        <md-content flex="100" ng-hide="attributes.toolbar.collapsed.value" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
