FRAG-IF{{attributes.repeat_in.value != '' && attributes.repeat_title.value === false}}
<div layout="column" flex="100" ng-show="attributes.display.value" style="ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP">
    <section id="{{component_id}}_panel" ng-class="attributes.dynamicClasses.value" class="dfx-core-gc-panel ATTR-NONV{{whiteframe.value}} ATTR-NONV{{classes.value}}" ATTR-IF{{style="attributes.style.value"}} ng-show="attributes.display.value" dfx-gc-web-container layout="column" flex="100"
        ATTR-IF{{ng-click="attributes.onclick.value"}}
        ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
        ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
        ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
        ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
        ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
        ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
        ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
        ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
        ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div ng-show="attributes.toolbar.visible.value"><div dfx-gcc-web-toolbar></div></div>
        <md-content flex="100" ng-repeat="$dfx_item in attributes.repeat_in.value" dfx-repeatable-panel="{{$index}}" ng-init="getDfxItem($dfx_item, $index); $last ? finishedNgRepeat() : null" ng-hide="collapsedType.value==='boolean' ? dfxCollapsed.value : $eval(attributes.toolbar.collapsed.value)" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
FRAG-IF{{attributes.repeat_in.value != '' && attributes.repeat_title.value === true}}
<div ng-repeat-start="$dfx_item in attributes.repeat_in.value" dfx-repeatable-panel="{{$index}}" ng-init="getDfxItem($dfx_item, $index); $last ? finishedNgRepeat() : null" flex="attributes.flex.value" ng-show="attributes.display.value" style="width: attributes.flex.value%; ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP" ng-repeat-end>
    <section id="{{component_id}}_panel_{{$index}}" ng-class="attributes.dynamicClasses.value" class="dfx-core-gc-panel ATTR-NONV{{whiteframe.value}} ATTR-NONV{{classes.value}}" style="attributes.style.value" dfx-ng-if="ng-if,display" dfx-gc-web-container layout="column" flex="100"
      ATTR-IF{{ng-click="attributes.onclick.value"}}
      ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
      ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
      ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
      ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
      ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
      ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
      ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
      ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
      ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div ng-show="attributes.toolbar.visible.value"><div dfx-gcc-web-toolbar layout="column"></div></div>
        <md-content flex="100" ng-hide="collapsedType.value==='boolean' ? dfxCollapsed.value[$index] : $eval(attributes.toolbar.collapsed.value)" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
FRAG-IF{{attributes.repeat_in.value == ''}}
<div layout="column" ng-show="attributes.display.value" flex="100" style="ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'height:100%;' : ''}}ATTR-ENDEXP">
    <section id="{{component_id}}_panel" ng-class="attributes.dynamicClasses.value" class="dfx-core-gc-panel ATTR-NONV{{whiteframe.value}} ATTR-NONV{{classes.value}}" ATTR-IF{{style="attributes.style.value"}} dfx-gc-web-container layout="column" flex="100"
        ATTR-IF{{ng-click="attributes.onclick.value"}}
        ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
        ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
        ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
        ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
        ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
        ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
        ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
        ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
        ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}>
        <div ng-show="attributes.toolbar.visible.value"><div dfx-gcc-web-toolbar></div></div>
        <md-content flex="100" ng-hide="collapsedType.value==='boolean' ? dfxCollapsed.value : $eval(collapsedPath)" style="attributes.bodyStyle.value" dfx-sidenav-and-bottomsheet="{{component_id}}" layout="column">
			LAYOUT-RENDERING{{0}}
        </md-content>
    </section>
</div>
FRAG-ENDIF
