<md-dialog aria-label="Renderer Properties"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Renderer Properties</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Renderer properties</h2>
        <div id="123" dfx-gc-web-base dfx-gc-web-button dfx-gc-edit></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('OK')" md-autofocus>
        OK
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('Cancel')">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>