<div style="{{attributes.style.value}}" class="{{attributes.classes.value}}">
    <div class="gc-radio-label-design">{{attributes.label.value | checkExpression}}</div>
    <md-radio-group ng-model="currentItem" class="dfx-gc-radio-group md-primary" ng-class="attributes.buttonClass.value" ng-style="{'flex-direction': attributes.direction.value }">
        <md-radio-button class="gc-radio" ng-repeat="it in attributes.radioItems.value track by $index" ng-value="it" aria-label="{{it.value}}">{{ it.display | checkExpression }}</md-radio-button>
    </md-radio-group>
</div>
