<div class="dfx-core-gc-slider {{attributes.classes.value}}" style="{{attributes.style.value}}">
    <div style="{{attributes.labelStyle.style}}" class="dfx-core-gc-slider-label {{attributes.labelStyle.class}}">
        {{attributes.label.value | checkExpression}}
    </div>
    <div layout="{{attributes.direction.value}}" class="dfx-core-gc-slider-items"x>
        <div ng-init="item.temp_value = temp_values()" ng-repeat="item in attributes.slidersArray.value track by $index" style="{{attributes.itemStyle.item.style}}" class="dfx-core-gc-slider-item flex {{attributes.itemStyle.item.class}}">
            <div style="{{attributes.itemStyle.label.style}}" class="dfx-core-gc-slider-item-label {{attributes.itemStyle.label.class}}"><span>{{ item.label | checkExpression }}</span></div>
            <div class="dfx-core-gc-slider-item-slider" ng-if="$eval(attributes.discrete.value)">
                <md-slider ng-if="dfx_is_number(item.value)" style="{{attributes.itemStyle.slider.style}}" class="md-altTheme-theme md-primary {{attributes.itemStyle.slider.class}}" ng-model="item.value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" step="{{attributes.step.value}}" md-discrete aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider>
                <md-slider ng-if="!dfx_is_number(item.value)" style="{{attributes.itemStyle.slider.style}}" class="md-altTheme-theme md-primary {{attributes.itemStyle.slider.class}}" ng-model="item.temp_value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" step="{{attributes.step.value}}" md-discrete aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider>
            </div>
            <div class="dfx-core-gc-slider-item-slider" ng-if="!$eval(attributes.discrete.value)">
                <md-slider ng-if="dfx_is_number(item.value)" style="{{attributes.itemStyle.slider.style}}" class="md-altTheme-theme md-primary {{attributes.itemStyle.slider.class}}" ng-model="item.value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider>
                <md-slider ng-if="!dfx_is_number(item.value)" style="{{attributes.itemStyle.slider.style}}" class="md-altTheme-theme md-primary {{attributes.itemStyle.slider.class}}" ng-model="item.temp_value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider>
            </div>
            <div class="dfx-core-gc-slider-item-input" ng-show="$eval(attributes.inputVisible.value)">
                <input ng-if="dfx_is_number(item.value)" ng-disabled="$eval(attributes.disabled.value)" type="number" style="{{attributes.itemStyle.input.style}}" ng-model="item.value" class="{{attributes.itemStyle.input.class}}" aria-label="{{attributes.name.value}}">
                <input ng-if="!dfx_is_number(item.value)" ng-disabled="$eval(attributes.disabled.value)" type="number" style="{{attributes.itemStyle.input.style}}" ng-model="item.temp_value" class="{{attributes.itemStyle.input.class}}" aria-label="{{attributes.name.value}}">
            </div>
        </div>
    </div>
</div>