<div class="{{attributes.classes.value}}" style="{{attributes.style.value}}">
    <div class="gc-checkbox-label-design">{{attributes.label.value | checkExpression}}</div>
    <div layout="row">
        <div ng-if="attributes.direction.value === 'column'" layout="column" style="margin-right: 5px">
            <div ng-repeat="item in attributes.slidersArray.value track by $index" layout layout-align="start center"  style="padding-left: 5px;margin-bottom: 3px;" ng-style="{'margin-top' : $index === 0? '3px' : '18px'}">{{ item.label | checkExpression}}</div>
        </div>
        <div layout="{{attributes.direction.value}}" flex>
            <div flex layout layout-align="start center" ng-repeat="item in attributes.slidersArray.value track by $index">
                <div flex="none" ng-if="attributes.direction.value === 'row'" style="margin:-11px 5px 0 0; padding-left: 5px">{{ item.label | checkExpression }}</div>
                <md-slider flex ng-if="$eval(attributes.discrete.value)" class="md-altTheme-theme md-primary flex" style="margin-top: -9px; margin-bottom: 2px;" ng-model="item.value" ng-class="attributes.buttonClass.value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" step="{{attributes.step.value}}" md-discrete aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider><!--width:{{attributes.sliderWidth.value}}{{attributes.widthUnits.value}};-->
                <md-slider flex ng-if="!$eval(attributes.discrete.value)" class="md-altTheme-theme md-primary flex" style="margin-top: -9px; margin-bottom: 2px;" ng-model="item.value" ng-class="attributes.buttonClass.value" min="{{attributes.minValue.value}}" max="{{attributes.maxValue.value}}" aria-label="{{attributes.name.value}}" id="{{attributes.name.value}}-slider"></md-slider><!--width:{{attributes.sliderWidth.value}}{{attributes.widthUnits.value}};-->
                <div flex="none" layout layout-align="center center" ng-show="$eval(attributes.inputVisible.value)">
                    <input ng-disabled="$eval(attributes.disabled.value)" type="number" style="text-align: center; width:55px; margin:-11px 10px 0 5px" ng-model="item.value" aria-label="{{attributes.name.value}}" aria-controls="{{attributes.name.value}}-slider">
                </div>
            </div>
        </div>
    </div>
</div>