<div dfx-gc-compiled class="{{attributes.classes.value}}" style="{{attributes.style.value}}"
    dfx-ng-show="ng-show,display"
    dfx-ng-bind="ng-bind,text"
    dfx-ng-class="ng-class,dynamicClasses"
    dfx-ng-click="ng-click,onclick"
    dfx-ng-dblclick="ng-dblclick,ondblclick"
    dfx-ng-keypress="ng-keypress,onkeypress"
    dfx-ng-keydown="ng-keydown,onkeydown"
    dfx-ng-keyup="ng-keyup,onkeyup"
    dfx-ng-mouseover="ng-mouseover,onmouseover"
    dfx-ng-mouseenter="ng-mouseenter,onmouseenter"
    dfx-ng-mousemove="ng-mousemove,onmousemove"
    dfx-ng-mouseleave="ng-mouseleave,onmouseleave"
    dfx-ng-mouseup="ng-mouseup,onmouseup">
    <md-tooltip ng-if="attributes.tooltipProperties.toolTipText!=''" md-direction='{{attributes.tooltipProperties.direction}}'>
        <span ng-bind="$eval(attributes.tooltipProperties.toolTipText)"></span>
    </md-tooltip>
</div>