<md-dialog aria-label="table-columns" ng-cloak id="dfx-ve-menu-editor-dialog" tabindex="0">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Columns editor</h2>
            </div>
        </md-toolbar>
        <md-dialog-content id="{{component_id}}_md_dialog" layout="column" style="max-width:880px;max-height:810px;width:880px;height:400px;margin:0px;">
            <div style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;padding:8px;">
                <section id="{{component_id}}_menu_structure" class="md-whiteframe-1dp" style="display: flex;
    flex-direction: column; width:49.5%;border-radius:4px;overflow:hidden;">
                    <md-toolbar style="min-height:36px;background:rgba(128,128,128,0.46);">
                        <div class="md-toolbar-tools" style="height:36px;max-height:36px">
                            <h3 style="font-size:16px;">Columns list</h3>
                        </div>
                    </md-toolbar>
                    <md-toolbar style="min-height:30px;background:#ECECEC;font-size:14px;display:flex;flex-direction:row;align-items:center;padding:0 9px;">
                        <a href="#" class="fa fa-plus" ng-click="insertColumn()" style="color:#676B6E;text-decoration:none;margin:auto 7px;" title="Add item"></a>
                        <a href="#" class="fa fa-minus" ng-click="removeColumn()" style="color:#676B6E;text-decoration:none;margin:auto 7px;" title="Remove item"></a>
                        <a href="#" class="fa fa-arrow-up" ng-click="moveColumnUp()" style="color:#676B6E;text-decoration:none;margin:auto 7px;" title="Move up item"></a>
                        <a href="#" class="fa fa-arrow-down" ng-click="moveColumnDown()" style="color:#676B6E;text-decoration:none;margin:auto 7px;" title="Move down item"></a>
                    </md-toolbar>
                    <md-content class="menu-structure" layout-padding flex>
                        <ul>
                            <li ng-repeat="column in attributes.columns.value track by $index" class="menu-tree-item">
                                <a href="#" ng-click="selectOptionItem( $index )">{{ column.name }}</a>
                            </li>
                        </ul>
                    </md-content>
                </section>
                <section id="{{component_id}}_column_properties" class="md-whiteframe-1dp" style="display: flex;
    flex-direction: column; width:49.5%;border-radius:4px;overflow:hidden;">
                    <md-toolbar style="min-height:36px;background:rgba(128,128,128,0.46);">
                        <div class="md-toolbar-tools" style="height:36px;max-height:36px">
                            <h3 style="font-size:16px;">Column properties</h3>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding flex>
                        <div class="dfx-ve-property-treeview hover clearfix" style="padding:8px 16px 12px 12px;margin:0 -8px;">
                            <ul class="dfx-ve-property-picker-content" style="margin:0;padding:0">
                                <li class="col-md-12">
                                    <span class="col-md-4">Column name:</span>
                                    <div class="col-md-8" layout="row">
                                        <input class="col-md-12" type="text" ng-model="attributes.currentColumn.name" style="margin-left:-15px;"/>
                                        <dfx-ve-menu-expression></dfx-ve-menu-expression>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4">Header:</span>
                                    <div class="col-md-8" layout="row">
                                        <input class="col-md-12" type="text" ng-model="attributes.currentColumn.header" style="margin-left:-15px;"/>
                                        <dfx-ve-menu-expression></dfx-ve-menu-expression>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4" style="padding-top: 12px">Width:</span>
                                    <div class="col-md-8" layout="row" style="padding-left:0px;">
                                        <md-slider class="md-primary" flex ng-model="attributes.currentColumn.flex" step="5" min="0" max="100" aria-label="Flex width:">
                                        </md-slider>
                                        <div flex="20" layout layout-align="center center">
                                            <input flex type="number" step="5" min="0" max="100" ng-model="attributes.currentColumn.flex" aria-label="column-width" aria-controls="flex-width" style="margin-left:5px; text-align: center" ng-change="overrideAttribute('columns')">
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4" style="padding-top: 2px">Renderer:</span>
                                    <md-input-container class="col-md-8" style="background:transparent;padding: 0 10px 10px 0">
                                        <md-select aria-label="Renderer:" ng-model="attributes.currentColumn.renderer.name" style="background:#fff;" ng-change="changeRenderer()">
                                            <md-option value="statictext">statictext</md-option>
                                            <md-option value="html">html</md-option>
                                            <md-option value="button">button</md-option>
                                            <md-option value="fab">fab</md-option>
                                            <md-option value="image">image</md-option>
                                            <md-option value="rating">rating</md-option>
                                        </md-select>
                                    </md-input-container>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4">Sort value:</span>
                                    <div class="col-md-8" layout="row">
                                        <input class="col-md-12" type="text" ng-model="attributes.currentColumn.value" style="margin-left:-15px;"/>
                                        <dfx-ve-menu-expression></dfx-ve-menu-expression>
                                    </div>
                                </li>
                                <li class="col-md-12" style="padding-bottom: 15px">
                                    <span class="col-md-4">Sort direction:</span>
                                    <div class="col-md-8" layout="row" style="padding: 0px">
                                        <md-radio-group class="dfx-ve-property-treeview-radiogroup row-radio" ng-model="attributes.currentColumn.isAscending" ng-change="dfxAddLabel()">
                                            <md-radio-button class="md-primary" value="true" aria-label="Direction">
                                                Ascending
                                            </md-radio-button>
                                            <md-radio-button class="md-primary" value="false" aria-label="Direction">
                                                Descending
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4">Header alignment:</span>
                                    <div class="col-md-8" layout="row" style="padding: 0px">
                                        <md-radio-group class="dfx-ve-property-treeview-radiogroup row-radio" ng-model="attributes.currentColumn.headerAlign" ng-change="dfxAddLabel()">
                                            <md-radio-button class="md-primary" value="start" aria-label="Direction">
                                                Left
                                            </md-radio-button>
                                            <md-radio-button class="md-primary" value="center" aria-label="Direction">
                                                Center
                                            </md-radio-button>
                                            <md-radio-button class="md-primary" value="end" aria-label="Direction">
                                                Right
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4">Column alignment:</span>
                                    <div class="col-md-8" layout="row" style="padding: 0px">
                                        <md-radio-group class="dfx-ve-property-treeview-radiogroup row-radio" ng-model="attributes.currentColumn.columnAlign" ng-change="dfxAddLabel()">
                                            <md-radio-button class="md-primary" value="start" aria-label="Direction">
                                                Left
                                            </md-radio-button>
                                            <md-radio-button class="md-primary" value="center" aria-label="Direction">
                                                Center
                                            </md-radio-button>
                                            <md-radio-button class="md-primary" value="end" aria-label="Direction">
                                                Right
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </md-content>
                </section>
            </div>
            <div class="second-dialog-box"></div>
        </md-dialog-content>
        <div class="md-actions">
            <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
        </div>
    </form>
</md-dialog>