<div ng-show="attributes.display.value"
    ATTR-IF{{style="attributes.style.value"}}
    ng-class="['attributes.dynamicClasses.value', 'attributes.classes.value', 'attributes.whiteframe.value']" flex="100" layout="column">
    <div ng-show="attributes.toolbar.visible.value"><div dfx-gcc-web-toolbar></div></div>
    <md-content flex="100" ATTR-IF{{style="attributes.bodyStyle.value"}} ATTR-IF{{ng-hide="attributes.toolbar.collapsed.value"}} layout="column">
        <md-tabs md-no-ink-bar="ATTR-EXP{{attributes.inkBar.value==='disabled' ? 'true': 'false'}}ATTR-ENDEXP"
                 ATTR-IF{{md-center-tabs="attributes.centerTabs.value"}}
                 md-dynamic-height md-border-bottom md-selected="attributes.tabIndex.value"
                 ATTR-IF{{md-align-tabs="attributes.tabAlign.value"}}
                 ATTR-IF{{md-stretch-tabs="attributes.stretching.value"}}
                 ATTR-IF{{ng-click="attributes.onclick.value"}}
                 ATTR-IF{{ng-dblclick="attributes.ondblclick.value"}}
                 ATTR-IF{{ng-keypress="attributes.onkeypress.value"}}
                 ATTR-IF{{ng-keydown="attributes.onkeydown.value"}}
                 ATTR-IF{{ng-keyup="attributes.onkeyup.value"}}
                 ATTR-IF{{ng-mouseover="attributes.onmouseover.value"}}
                 ATTR-IF{{ng-mouseenter="attributes.onmouseenter.value"}}
                 ATTR-IF{{ng-mousemove="attributes.onmousemove.value"}}
                 ATTR-IF{{ng-mouseleave="attributes.onmouseleave.value"}}
                 ATTR-IF{{ng-mousedown="attributes.onmousedown.value"}}
                 ATTR-IF{{ng-mouseup="attributes.onmouseup.value"}}
                 flex="100" layout="column">

             LAYOUT-RENDERING-TABS
            <!--md-tab ng-repeat="tab in tabs_values track by $index" label="{{$eval(tab.label)}}"
                ng-disabled="$eval(tab.disabled.value)">
                <md-content flex="100" layout="row" layout-padding style="height:100%;{{tab.style.value}}"
                    ng-class="[tab.classes.value, $eval(tab.dynamicClasses.value)]">
                    <div flex="100" id="{{component_id}}_tab_{{$index}}" layout="column">
                        <div ng-repeat="row in tab.layout.rows track by $index" id="{{component_id}}_layout_{{$parent.$index}}_row_{{$index}}" layout="row" layout-wrap
                            flex="{{ATTR-EXP{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? 'row.height.value' : 'none'}}ATTR-ENDEXP}}">

                            <div ng-repeat="col in row.cols track by $index"
                                 id="{{component_id}}_layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}"
                                 flex="col.width.value"
                                 gc-container="layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}"
                                 gc-parent="component_id"
                                 style="overflow:auto;padding:1px;{{col.style.value}}"
                                 ng-style="{'flex-wrap': col.orientation.value ==='row' ? 'wrap' : 'nowrap'}"
                                 layout="col.orientation.value" layout-align="{{col.halignment.value}} {{col.valignment.value}}"
                                 class="ui-placeholder dfx_visual_editor_droppable" ng-class="[col.classes.value, $eval(col.dynamicClasses.value)]">
                                <div id="{{gcontrol.id}}" dfx-gc-web="{{gcontrol.type}}" gc-role="control" gc-parent="{{component_id}}" view-id="{{view_id}}" ng-repeat="gcontrol in children['layout_' + $parent.$parent.$index + '_row_'+ $parent.$index+'_column_'+$index]"></div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab-->
        </md-tabs>
    </md-content>
</div>
