<div style="{{attributes.style.value}}; height:100%;" ng-class="[attributes.classes.value, attributes.whiteframe.value]" flex="100" layout="column">
    <dfx-gc-toolbar-design></dfx-gc-toolbar-design>
    <md-content flex="100" style="{{attributes.bodyStyle.value}}" ng-hide="attributes.toolbar.collapsed.designValue" layout="column">
        <md-tabs md-no-ink-bar="{{attributes.inkBar.value==='disabled' ? 'true': 'false'}}" md-center-tabs="{{attributes.centerTabs.value===true ? 'true': 'false'}}"
                 md-dynamic-height md-border-bottom md-selected="attributes.tabIndex.value" md-align-tabs="{{attributes.tabAlign.value}}" md-stretch-tabs="{{attributes.stretching.value}}"
                 flex="100" layout="column" dfx-gc-tabs-design>
            <md-tab ng-repeat="tab in attributes.tabs.value track by $index" label="{{tab.label | checkExpression}}">
                <md-content flex="100" layout="row" layout-padding style="{{tab.style.value}}" class="{{tab.classes.value}}">
                    <div flex="100" id="{{component_id}}_tab_{{$index}}" layout="column">
                        <div ng-repeat="row in tab.layout.rows track by $index" id="{{component_id}}_layout_{{$parent.$index}}_row_{{$index}}" auto-height-id="{{component_id}}_auto_height" layout="row" layout-wrap
                            flex="{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? row.height.value : 'none'}}">
                            <div ng-repeat="col in row.cols track by $index" id="{{component_id}}_layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}" flex="{{col.width.value}}"
                                 layout="{{col.orientation.value}}" layout-align="{{col.halignment.value}} {{col.valignment.value}}"
                                 gc-container="layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}" gc-parent="{{component_id}}"
                                 style="overflow:auto;{{col.style.value}}"
                                 ng-style="{'flex-wrap': col.orientation.value ==='row' ? 'wrap' : 'nowrap'}"
                                 class="ui-placeholder dfx_visual_editor_droppable" ng-class="col.classes.value" dfx-gc-web-droppable>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
