<div class="dfx-core-gc-treeview {{attributes.classes.value}}" style="{{attributes.style.value}}" ng-class="$eval(attributes.dynamicClasses.value)" ng-show="$eval(attributes.display.value)">
    <div ng-if="attributes.dynamic.value !==''">
        <script type="text/ng-template" id="{{component_id}}_dynamic_tree_view">
            <md-icon ng-if="$dfx_item.expanded && $dfx_item[attributes.repeatable_property.value].length > 0 && attributes.isOpened.type === 'fa-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}};" class="fa node-trigger {{ $eval(attributes.isOpened.value) || 'fa-minus' }}"></md-icon>
            <md-icon ng-if="!$dfx_item.expanded && $dfx_item[attributes.repeatable_property.value].length > 0 && attributes.isClosed.type === 'fa-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}};" class="fa node-trigger {{ $eval(attributes.isClosed.value)  || 'fa-plus' }}"></md-icon>
            <ng-md-icon ng-if="$dfx_item.expanded && $dfx_item[attributes.repeatable_property.value].length > 0 && attributes.isOpened.type ==='svg-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}}" class="node-trigger" icon="{{ $eval(attributes.isOpened.value) || 'expand_more' }}" size="16"></ng-md-icon>
            <ng-md-icon ng-if="!$dfx_item.expanded && $dfx_item[attributes.repeatable_property.value].length > 0 && attributes.isClosed.type ==='svg-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}}" class="node-trigger" icon="{{ $eval(attributes.isClosed.value)  || 'chevron_right'}}" size="16"></ng-md-icon>
            <a href="#" ng-click="$eval(attributes.onclick.value)"
               ng-dblclick="$eval(attributes.ondblclick.value)"
               ng-keypress="$eval(attributes.onkeypress.value)"
               ng-keydown="$eval(attributes.onkeydown.value)"
               ng-keyup="$eval(attributes.onkeyup.value)"
               ng-mouseover="$eval(attributes.onmouseover.value)"
               ng-mouseenter="$eval(attributes.onmouseenter.value)"
               ng-mousemove="$eval(attributes.onmousemove.value)"
               ng-mouseleave="$eval(attributes.onmouseleave.value)"
               ng-mousedown="$eval(attributes.onmousedown.value)"
               ng-mouseup="$eval(attributes.onmouseup.value)">{{ $eval($dfx_item[attributes.label.value]) }}</a>
            <ul ng-if="$dfx_item[attributes.repeatable_property.value].length > 0" ng-show="$dfx_item.expanded">
                <li ng-repeat="$dfx_item in $dfx_item[attributes.repeatable_property.value] track by $index" class="tree-view-item" ng-include="'{{component_id}}_dynamic_tree_view'"></li>
            </ul>
        </script>
        <ul><li ng-repeat="$dfx_item in $gcscope[attributes.dynamic.value] track by $index" class="tree-view-item" ng-include="'{{component_id}}_dynamic_tree_view'"></li></ul>
    </div>
    <div ng-if="attributes.dynamic.value ===''">
        <script type="text/ng-template" id="{{component_id}}_static_tree_view">
            <md-icon ng-if="$dfx_item.expanded && $dfx_item.children.length > 0 && attributes.isOpened.type === 'fa-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}};" class="fa node-trigger {{ $eval(attributes.isOpened.value) || 'fa-minus' }}"></md-icon>
            <md-icon ng-if="!$dfx_item.expanded && $dfx_item.children.length > 0 && attributes.isClosed.type === 'fa-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}};" class="fa node-trigger {{ $eval(attributes.isClosed.value)  || 'fa-plus' }}"></md-icon>
            <ng-md-icon ng-if="$dfx_item.expanded && $dfx_item.children.length > 0 && attributes.isOpened.type ==='svg-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}}" class="node-trigger"
              icon="{{ $eval(attributes.isOpened.value) || 'expand_more' }}" size="16"></ng-md-icon>
            <ng-md-icon ng-if="!$dfx_item.expanded && $dfx_item.children.length > 0 && attributes.isClosed.type ==='svg-icon'" ng-click="toggleNode($event, $dfx_item)" style="color: {{attributes.color.value}}" class="node-trigger"
              icon="{{ $eval(attributes.isClosed.value)  || 'chevron_right'}}" size="16"></ng-md-icon>
            <a href="#" ng-click="$eval(attributes.onclick.value)"
               ng-dblclick="$eval(attributes.ondblclick.value)"
               ng-keypress="$eval(attributes.onkeypress.value)"
               ng-keydown="$eval(attributes.onkeydown.value)"
               ng-keyup="$eval(attributes.onkeyup.value)"
               ng-mouseover="$eval(attributes.onmouseover.value)"
               ng-mouseenter="$eval(attributes.onmouseenter.value)"
               ng-mousemove="$eval(attributes.onmousemove.value)"
               ng-mouseleave="$eval(attributes.onmouseleave.value)"
               ng-mousedown="$eval(attributes.onmousedown.value)"
               ng-mouseup="$eval(attributes.onmouseup.value)">{{ $eval($dfx_item.name) }}</a>
            <ul ng-if="$dfx_item.children.length > 0" ng-show="$dfx_item.expanded">
                <li ng-repeat="$dfx_item in $dfx_item.children track by $index" class="tree-view-item" ng-include="'{{component_id}}_static_tree_view'"></li>
            </ul>
        </script>
        <ul><li ng-repeat="$dfx_item in attributes.static.value track by $index" class="tree-view-item" ng-include="'{{component_id}}_static_tree_view'"></li></ul>
    </div>
</div>