<div class="dfx-ve-property-treeview hover">
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-0" />
            <label for="item-0">Main Properties</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-6">Id:</span>
                    <input class="col-md-6" type="text" ng-model="component_id" disabled/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Template:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.template.value" ng-change="overrideAttribute('template')" disabled/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Name:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.name.value" style="padding-left: 6px" ng-change="overrideAttribute('name')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6" style="padding: 3px 0 0 5px">Stretching:</span>
                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                        <md-select aria-label="stretching" ng-model="attributes.stretching.value" ng-change="overrideAttribute('stretching')">
                            <md-option ng-repeat="str in ['never', 'always']" ng-value="str">{{str}}</md-option>
                        </md-select>
                    </md-input-container>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6" style="padding: 3px 0 0 5px">Steps Position:</span>
                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                        <md-select aria-label="direction" ng-model="attributes.stepAlign.value" ng-change="overrideAttribute('stepAlign')">
                            <md-option ng-repeat="al in ['top', 'bottom']" ng-value="al">{{al}}</md-option>
                        </md-select>
                    </md-input-container>
                </li>
                <li ng-if="attributes.stretching.value === 'never'" class="col-md-12">
                    <span class="col-md-6">Center Steps:</span>
                    <span class="col-md-6"><md-checkbox style="margin: 0" class="md-primary" ng-model="attributes.centerSteps.value" ng-change="overrideAttribute('centerSteps')"></md-checkbox></span>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6" style="padding: 3px 0 0 5px">Selection Ink Bar:</span>
                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                        <md-select aria-label="stretching" ng-model="attributes.inkBar.value" ng-change="overrideAttribute('inkBar')">
                            <md-option ng-repeat="ink in ['enabled', 'disabled']" ng-value="ink">{{ink}}</md-option>
                        </md-select>
                    </md-input-container>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Whiteframe:</span>
                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                        <md-select aria-label="Whiteframe:" ng-model="attributes.whiteframe.value" ng-change="overrideAttribute('whiteframe')">
                            <md-option value="">None</md-option>
                            <md-option value="md-whiteframe-1dp">1dp</md-option>
                            <md-option value="md-whiteframe-3dp">3dp</md-option>
                            <md-option value="md-whiteframe-6dp">6dp</md-option>
                            <md-option value="md-whiteframe-10dp">10dp</md-option>
                            <md-option value="md-whiteframe-18dp">18p</md-option>
                            <md-option value="md-whiteframe-24dp">24p</md-option>
                        </md-select>
                    </md-input-container>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Display:</span>
                    <div class="col-md-6" layout="row">
                        <input class="col-md-12" type="text" ng-model="attributes.display.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('display')"/>
                        <dfx-ve-expression-editor></dfx-ve-expression-editor>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul dfx-gc-toolbar-property></ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-1" />
            <label for="item-1">Steps</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-6" />
                    <label for="item-6" class="col-md-3" style="font-weight:600;padding-left: 16px; margin-top: 5px;">Step</label>
                    <span class="col-md-1" style="padding-left: 11px;"><a ng-click="addStep()" href="#"><md-icon class="fa fa-plus" style="padding-top: 10px;"></md-icon></a></span>
                    <span class="col-md-1" style="padding-left: 11px;"><a href="#" ng-click="removeStep()"><md-icon class="fa fa-minus" style="padding-top: 10px;"></md-icon></a></span>
                    <span class="col-md-1"></span>
                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                        <md-select aria-label="Input type:" ng-model="attributes.stepIndex.value" ng-change="overrideAttribute('stepIndex')">
                            <md-option ng-repeat="step in attributes.steps.value track by $index" value="{{$index}}">{{step.label}}</md-option>
                        </md-select>
                    </md-input-container>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px">Label:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.steps.value[attributes.stepIndex.value].label" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                <dfx-ve-expression-editor></dfx-ve-expression-editor>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-7" />
                            <label for="item-7" class="col-md-6" style="font-weight:500; padding-left: 30px; margin-top: 5px;">Layout Properties</label>
                            <span class="col-md-5"></span>
                            <span class="col-md-1" style="padding-left: 11px;"><a ng-click="addLayoutRow(attributes.stepIndex.value)" href="#"><md-icon class="fa fa-plus" style="padding-top: 10px;"></md-icon></a></span>
                            <ul class="dfx-ve-property-treeview-content">
                                <li class="col-md-12" ng-repeat="row in attributes.steps.value[attributes.stepIndex.value].layout.rows track by $index">
                                    <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-layout-row-{{$index}}" />
                                    <span class="col-md-1"></span>
                                    <label for="item-layout-row-{{$index}}" class="col-md-5" style="font-weight:500; margin-top: 5px;">Row {{$index}}</label>
                                    <span class="col-md-2"></span>
                                    <span class="col-md-4" style="padding-right: 7px;">
                                        <a class="pull-right" ng-click="deleteLayoutRow($index)" href="#" title="Remove the row"><md-icon class="fa fa-minus" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                        <a class="pull-right" ng-click="addLayoutColumn($index)" href="#" title="Add a new column"><md-icon class="fa fa-plus" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                        <a ng-if="$index < attributes.steps.value[attributes.stepIndex.value].layout.rows.length - 1" title="Move down" class="pull-right" ng-click="moveDownRow($index)" href="#"><md-icon class="fa fa-arrow-down" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                        <a ng-if="$index > 0" class="pull-right" ng-click="moveUpRow($index)" href="#" title="Move up" ><md-icon class="fa fa-arrow-up" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                    </span>
                                    <ul class="dfx-ve-property-treeview-content">
                                        <li class="col-md-12" ng-repeat="col in row.cols track by $index">
                                            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-layout-row-{{$parent.$index}}-{{$index}}"/>
                                            <span class="col-md-1"></span>
                                            <label for="item-layout-row-{{$parent.$index}}-{{$index}}" class="col-md-5" style="font-weight:500; margin-top: 5px; padding-left: 27px">Column {{$index}}</label>
                                            <span class="col-md-2"></span>
                                            <span class="col-md-4" style="padding-right: 7px;">
                                                <a class="pull-right" ng-click="deleteLayoutColumn($parent.$index, $index)" title="Delete the column" href="#"><md-icon class="fa fa-minus" style="padding-top: 10px;width:16px; text-align: center;"></md-icon></a>
                                                <a ng-if="$index < attributes.steps.value[attributes.stepIndex.value].layout.rows[$parent.$index].cols.length - 1" title="Move right" class="pull-right" ng-click="moveRightCol($parent.$parent.$index, $index)" href="#"><md-icon class="fa fa-arrow-right" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                                <a ng-if="$index > 0" class="pull-right" ng-click="moveLeftCol($parent.$parent.$index, $index)" title="Move left"  href="#"><md-icon class="fa fa-arrow-left" style="padding-top: 10px; width:16px; text-align: center;"></md-icon></a>
                                            </span>
                                            <ul class="dfx-ve-property-treeview-content">
                                                <li class="col-md-12">
                                                    <span class="col-md-12">
                                                        <div layout>
                                                            <md-slider class="md-primary" flex ng-model="col.width.value" step="5" min="0" max="100" aria-label="Flex width:" style="padding-left: 40px;" ng-change="overrideAttribute('steps')">
                                                            </md-slider>
                                                            <div flex="20" layout layout-align="center center">
                                                                <input flex type="number" min="0" max="100" ng-change="setWidth($parent.$index, $index)" ng-model="col.width.value" aria-label="blue" aria-controls="flex-width" style="margin-left:5px; text-align: center" ng-change="overrideAttribute('steps')">
                                                            </div>
                                                        </div>
                                                    </span>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding: 3px 0 0 28px">Layout Direction:</span>
                                                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                                                        <md-select aria-label="direction" ng-model="col.orientation.value" ng-change="overrideAttribute('steps')">
                                                            <md-option ng-repeat="dir in ['row', 'column']" ng-value="dir">{{dir}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding: 3px 0 0 28px">Hor.Alignment:</span>
                                                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                                                        <md-select aria-label="h_alignment" ng-model="col.halignment.value">
                                                            <md-option ng-repeat="h_al in ['start', 'center','end', 'space-around', 'space-between']" ng-value="h_al">{{h_al}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding: 3px 0 0 28px">Ver.Alignment:</span>
                                                    <md-input-container class="col-md-6" style="padding: 0 0 10px">
                                                        <md-select aria-label="v_alignment" ng-model="col.valignment.value">
                                                            <md-option ng-repeat="v_al in ['start', 'center', 'end']" ng-value="v_al">{{v_al}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding-right:0; padding-left: 28px">Style:</span>
                                                    <div class="col-md-6" layout="row">
                                                        <input class="col-md-12" type="text" ng-model="col.style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                                        <dfx-ve-css-style></dfx-ve-css-style>
                                                    </div>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding-right:0; padding-left: 28px">Class:</span>
                                                    <input class="col-md-6" type="text" ng-model="col.classes.value" style="padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                                </li>
                                                <li class="col-md-12">
                                                    <span class="col-md-1"></span>
                                                    <span class="col-md-5" style="padding-right:0; padding-left: 28px">Dynamic Class:</span>
                                                    <input class="col-md-6" type="text" ng-model="col.dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-right:0; padding-left: 20px">Disabled:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.steps.value[attributes.stepIndex.value].disabled.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                <dfx-ve-expression-editor></dfx-ve-expression-editor>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-right:0; padding-left: 20px">Style:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.steps.value[attributes.stepIndex.value].style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-right:0; padding-left: 20px">Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.steps.value[attributes.stepIndex.value].classes.value" style="padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-right:0; padding-left: 20px">Dynamic Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.steps.value[attributes.stepIndex.value].dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('steps')"/>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-11" />
                    <label for="item-11" class="col-md-12" style="font-weight:600;padding: 0 0 0 16px; margin-top: 5px;">Previous Button</label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Label:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.previousButton.label.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('previousButton.label')"/>
                                <dfx-ve-expression-editor></dfx-ve-expression-editor>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Style:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.previousButton.style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('previousButton.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.previousButton.classes.value" style="padding-left: 6px" ng-change="overrideAttribute('previousButton.classes')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Dynamic Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.previousButton.dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('previousButton.dynamicClasses')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Onclick:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.previousButton.onclick.value" style="padding-left: 6px" ng-change="overrideAttribute('previousButton.onclick')"/>
                        </li>
                    </ul>
                </li>
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-12" />
                    <label for="item-12" class="col-md-12" style="font-weight:600;padding: 0 0 0 16px; margin-top: 5px;">Next Button</label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Label:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.nextButton.label.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('nextButton.label')"/>
                                <dfx-ve-expression-editor></dfx-ve-expression-editor>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Style:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.nextButton.style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('nextButton.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.nextButton.classes.value" style="padding-left: 6px" ng-change="overrideAttribute('nextButton.classes')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Dynamic Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.nextButton.dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('nextButton.dynamicClasses')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Onclick:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.nextButton.onclick.value" style="padding-left: 6px" ng-change="overrideAttribute('nextButton.onclick')"/>
                        </li>
                    </ul>
                </li>
                <li class="col-md-12">
                    <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-13" />
                    <label for="item-13" class="col-md-12" style="font-weight:600;padding: 0 0 0 16px; margin-top: 5px;">Submit Button</label>
                    <ul class="dfx-ve-property-treeview-content">
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Label:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.submitButton.label.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('submitButton.label')"/>
                                <dfx-ve-expression-editor></dfx-ve-expression-editor>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Style:</span>
                            <div class="col-md-6" layout="row">
                                <input class="col-md-12" type="text" ng-model="attributes.submitButton.style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('submitButton.style')"/>
                                <dfx-ve-css-style></dfx-ve-css-style>
                            </div>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.submitButton.classes.value" style="padding-left: 6px" ng-change="overrideAttribute('submitButton.classes')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Dynamic Class:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.submitButton.dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('submitButton.dynamicClasses')"/>
                        </li>
                        <li class="col-md-12">
                            <span class="col-md-6" style="padding-left: 20px;">Onclick:</span>
                            <input class="col-md-6" type="text" ng-model="attributes.submitButton.onclick.value" style="padding-left: 6px" ng-change="overrideAttribute('submitButton.onclick')"/>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-2" />
            <label for="item-2">Styling Attributes</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-12">
                        <div layout>
                            <md-slider class="md-primary" flex ng-model="attributes.flex.value" step="5" min="0" max="100" aria-label="Flex width:" ng-change="overrideAttribute('flex');changeWidth()" ng-model-options="{ debounce: 500 }">
                            </md-slider>
                            <div flex="20" layout layout-align="center center">
                                <input flex type="number" step="5" min="0" max="100" ng-model="attributes.flex.value" aria-label="blue" aria-controls="flex-width" style="margin-left:5px; text-align: center" ng-change="overrideAttribute('flex');changeWidth()">
                            </div>
                        </div>
                    </span>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Style:</span>
                    <div class="col-md-6" layout="row">
                        <input class="col-md-12" type="text" ng-model="attributes.style.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('style')"/>
                        <dfx-ve-css-style></dfx-ve-css-style>
                    </div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Body Style:</span>
                    <div class="col-md-6" layout="row">
                        <input class="col-md-12" type="text" ng-model="attributes.bodyStyle.value" style="margin-left:-15px; padding-left: 6px" ng-change="overrideAttribute('bodyStyle')"/>
                        <dfx-ve-css-style></dfx-ve-css-style>
                    </div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Class:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.classes.value" style="padding-left: 6px" ng-change="overrideAttribute('classes')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">Dynamic Class:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.dynamicClasses.value" style="padding-left: 6px" ng-change="overrideAttribute('dynamicClasses')"/>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <input class="dfx-ve-property-treeview-button" type="checkbox" id="item-10" />
            <label for="item-10">Events</label>
            <ul class="dfx-ve-property-treeview-content">
                <li class="col-md-12">
                    <span class="col-md-6">On Previous:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.onPrevious.value" style="padding-left: 6px" ng-change="overrideAttribute('onPrevious')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Next:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.onNext.value" style="padding-left: 6px" ng-change="overrideAttribute('onNext')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Submit:</span>
                    <input class="col-md-6" type="text" ng-model="attributes.formSubmit.value" style="padding-left: 6px" ng-change="overrideAttribute('formSubmit')"/>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Click:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onclick.value" ng-change="overrideAttribute('onclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Double Click:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.ondblclick.value" ng-change="overrideAttribute('ondblclick')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Focus:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onfocus.value" ng-change="overrideAttribute('onfocus')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Blur:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onblur.value" ng-change="overrideAttribute('onblur')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Key Press:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onkeypress.value" ng-change="overrideAttribute('onkeypress')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Key Down:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onkeydown.value" ng-change="overrideAttribute('onkeydown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Key Up:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onkeyup.value" ng-change="overrideAttribute('onkeyup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Over:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmouseover.value" ng-change="overrideAttribute('onmouseover')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Enter:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmouseenter.value" ng-change="overrideAttribute('onmouseenter')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Move:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmousemove.value" ng-change="overrideAttribute('onmousemove')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Leave:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmouseleave.value" ng-change="overrideAttribute('onmouseleave')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Down:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmousedown.value" ng-change="overrideAttribute('onmousedown')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
                <li class="col-md-12">
                    <span class="col-md-6">On Mouse Up:</span>
                    <div class="col-md-6" layout="row"><input type="text" ng-model="attributes.onmouseup.value" ng-change="overrideAttribute('onmouseup')" class="col-md-12" style="margin-left:-15px;"/><dfx-ve-expression-editor></dfx-ve-expression-editor></div>
                </li>
            </ul>
        </li>
    </ul>
</div>