<div class="layout-row layout-align-center-center" flex="100" style="height:1500px">
    <div style="height:1500px;{{attributes.style.value}}" ng-class="[attributes.classes.value, attributes.whiteframe.value]" flex="100" layout="column">
        <dfx-gc-toolbar-design></dfx-gc-toolbar-design>
        <md-content id="{{component_id}}_content" flex="100" style="{{attributes.bodyStyle.value}}" ng-hide="attributes.toolbar.collapsed.designValue" layout="column">
            <md-tabs md-no-ink-bar="{{attributes.inkBar.value==='disabled' ? 'true': 'false'}}" md-center-tabs="{{attributes.centerSteps.value===true ? 'true': 'false'}}"
                     md-dynamic-height md-border-bottom md-selected="attributes.stepIndex.value" md-align-tabs="{{attributes.stepAlign.value}}" md-stretch-tabs="{{attributes.stretching.value}}"
                     flex="100" layout="column" dfx-gc-wizard-design>
                <md-tab ng-repeat="step in attributes.steps.value track by $index" label="{{step.label | checkExpression}}">
                    <md-content flex="100" layout="row" style="{{step.style.value}}" ng-class="step.classes.value">
                        <div flex="100" id="{{component_id}}_step_{{$index}}" layout="column">
                            <div ng-repeat="row in step.layout.rows track by $index" id="{{component_id}}_layout_{{$parent.$index}}_row_{{$index}}" layout="row" layout-wrap
                                flex="{{(!attributes.autoHeight || attributes.autoHeight.value != true) ? row.height.value : 'none'}}">
                                <div ng-repeat="col in row.cols track by $index" id="{{component_id}}_layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}" flex="{{col.width.value}}"
                                     layout="{{col.orientation.value}}"
                                     layout-align="{{col.orientation.value ==='row' ? col.halignment.value + ' ' + col.valignment.value : col.valignment.value + ' ' + col.halignment.value}}"
                                     gc-container="layout_{{$parent.$parent.$index}}_row_{{$parent.$index}}_column_{{$index}}" gc-parent="{{component_id}}"
                                     class="ui-placeholder dfx_visual_editor_droppable gc-role-internal"
                                     style="overflow:auto;{{col.style.value}};flex-wrap:{{col.orientation.value ==='row' ? 'wrap' : 'nowrap'}}"
                                     ng-class="col.classes.value" dfx-gc-web-droppable>
                                </div>
                            </div>
                        </div>
                    </md-content>
                    <div layout="row" layout-align="end-center" class="dfx-core-gc-wizard-navbuttons">
                        <button ng-click="decrIndex()"
                                style="{{attributes.previousButton.style.value}}"
                                class="dfx-core-gc-wizard-prev md-altTheme-theme md-primary md-raised glyph md-button"
                                ng-class="attributes.previousButton.classes.value"
                                ng-disabled="$index===0">
                            {{attributes.previousButton.label.value | checkExpression}}
                        </button>
                        <button ng-if="!step.isLast.value"
                                ng-click="incrIndex();"
                                style="{{attributes.nextButton.style.value}}"
                                class="dfx-core-gc-wizard-next md-altTheme-theme md-primary md-raised glyph md-button"
                                ng-class="attributes.nextButton.classes.value">
                            {{attributes.nextButton.label.value | checkExpression}}
                        </button>
                        <button ng-if="step.isLast.value"
                                ng-click="incrIndex();"
                                style="{{attributes.submitButton.style.value}}"
                                class="dfx-core-gc-wizard-submit md-altTheme-theme md-raised glyph md-button"
                                ng-class="attributes.submitButton.classes.value">
                            {{attributes.submitButton.label.value | checkExpression}}
                        </button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
