.DS_Store
/.DS_Store
studio/images/.DS_Store

TestApp.zip

Mobile.zip

test.js

test1.js

testServer.js

tmp/*

/gcontrols/

temp/*

.idea/

dump.rdb

node_modules/
!lib/**/node_modules

lib/auth/.auth.conf

/deploy/

/appsStuff/

/app_fsdb/

lib/dfx_settings.local.js

/logs/*

npm-debug.log

/resources/

/widgets/

/build/

/.tmp
/tmp

/phonegap-export

/public

/app_builds

.auth.conf

localSettings.

src/css/dfx/dfx-bootstrap.css
src/css/dfx/dfx.css
src/css/dfx/dfx-studio.css
src/css/dfx/dfx-view-editor.css
src/css/dfx/dfx-page-editor.css
src/css/dfx/dfx-dropzone.css
src/css/vendor/bootstrap.css

/semantic/
