node_modules/
!lib/**/node_modules
build/
/gcontrols/
public/

# ------------------------- to remove:
src/css/dfx/dfx-bootstrap.css
src/css/dfx/dfx.css
src/css/dfx/dfx-studio.css
src/css/dfx/dfx-view-editor.css
src/css/dfx/dfx-page-editor.css
src/css/dfx/dfx-dropzone.css
src/css/vendor/bootstrap.css
.DS_Store
/.DS_Store
studio/images/.DS_Store
TestApp.zip
Mobile.zip
test.js
test1.js
testServer.js
tmp/*
temp/*
.idea/
dump.rdb
lib/auth/.auth.conf
/deploy/
/appsStuff/
/app_fsdb/
lib/dfx_settings.local.js
/logs/*
npm-debug.log
/widgets/
/resources/
/.tmp
/tmp
/phonegap-export
/app_builds
.auth.conf
localSettings.
/semantic/
/Users

run_dev.js
run_dep.js
dfx_dep_starter.js
