<md-dialog aria-label="add-variable-dialog" ng-cloak>
    <form ng-submit="saveVariable()">
        <md-toolbar>
            <div class="md-toolbar-tools layout-padding">
                <h5>Add Environment Variable</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" style="margin-right:-6px;" aria-label="Studio button">
                    <md-icon class="fa fa-lg fa-times dfx-studio-flex-icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-column">
                <md-input-container class="md-block flex" ng-class="validUrlResult === 'failed' || existUrl === true ? 'md-input-invalid' : ''" style="margin: 0;">
                    <label>Name:</label>
                    <input id="" ng-model="environment.var_name" md-autofocus>
                </md-input-container>
            </div>
            <div class="md-dialog-content layout-column">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>Description:</label>
                    <input id="" ng-model="environment.var_description">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-disabled="!allowClone" type="submit" aria-label="Studio button">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="closeDialog()" aria-label="Studio button">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>