<md-dialog aria-label="api-so-clone" ng-cloak>
    <form ng-submit="cloneServiceDo()">
        <md-toolbar>
            <div class="md-toolbar-tools layout-padding">
                <h5>Copy service</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" style="margin-right:-6px;">
                    <md-icon class="fa fa-lg fa-times dfx-studio-flex-icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-column">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>Name:</label>
                    <input id="copy-category" ng-model="url" md-autofocus>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" type="submit">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>