<md-dialog aria-label="create_resource" style="width: 400px;" ng-cloak>
    <form ng-submit="bluemix.login()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <img src="/images/bluemix_Logo.png" style="width: 32px; margin-right: 5px;"/>
                <h5 style="padding-top: 2px;">Bluemix Login</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="bluemix.cancel()">
                    <md-icon class="fa fa-lg fa-times dfx-studio-flex-icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content layout-row layout-padding">
                <div class="layout-column flex-100">
                    <md-input-container class="md-block flex" style="margin: 0;">
                        <label>Email:</label>
                        <input ng-model="bluemix.credentials.email" md-autofocus>
                    </md-input-container>
                    <md-input-container class="md-block flex" style="margin: 0;">
                        <label>Password:</label>
                        <input ng-model="bluemix.credentials.password" type="password">
                    </md-input-container>
                    <div ng-if="bluemix.email_pass_spinner === true" style="text-align: center;"><md-icon style="font-size: 20px;" class="fa fa-spinner fa-pulse"></md-icon></div>
                    <md-input-container ng-if="bluemix.organizations_list" class="layout-row">
                        <label>Organization:</label>
                        <md-select class="flex-100" ng-model="bluemix.credentials.selected_organization" ng-change="bluemix.setChoosenOrg(bluemix.credentials.selected_organization)">
                            <md-option ng-repeat="(key, value) in bluemix.organizations_list" value="{{key}}">
                                {{value.entity.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-if="bluemix.organization_spinner === true" style="text-align: center;"><md-icon style="font-size: 20px;" class="fa fa-spinner fa-pulse"></md-icon></div>
                    <md-input-container ng-if="bluemix.space_list" class="layout-row">
                        <label>Space:</label>
                        <md-select class="flex-100" ng-model="bluemix.credentials.selected_space" ng-change="bluemix.setChoosenSpace(bluemix.credentials.selected_space)">
                            <md-option ng-repeat="(key, value) in bluemix.space_list" value="{{key}}">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-if="bluemix.space_spinner === true" style="text-align: center;"><md-icon style="font-size: 20px;" class="fa fa-spinner fa-pulse"></md-icon></div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-if="bluemix.logged_in === false" class="md-primary" type="submit">Login</md-button>
            <md-button ng-if="bluemix.logged_in === true" class="md-primary" ng-click="bluemix.hide()">Close</md-button>
            <md-button ng-if="bluemix.logged_in === false" class="md-primary" ng-click="bluemix.cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>