<md-tabs md-dynamic-height md-stretch-tabs="never" md-border-bottom>
    <md-tab label="IBM Bluemix">
        <md-content style="padding-top: 20px;">
            <div layout="row" class="layout-align-space-between">
                <div layout="row">
                    <md-button ng-if="bluemix.logged_in === false" class="md-raised" ng-click="bluemix.loginDialog()">
                        Login
                    </md-button>
                    <md-button ng-if="bluemix.logged_in === true" class="md-raised" ng-click="bluemix.logout()">
                        Logout
                    </md-button>
                    <div ng-if="bluemix.logged_in === true" layout="row" style="height: 0;margin-top: 14px;margin-left: 20px;">
                        <div style="display: inline-block;margin-top: -9px; margin-right: 10px;">
                            <img src="/images/bluemix_Logo.png" style="height: 40px;"/>
                        </div>
                        <md-input-container class="md-block " style="margin: 0 20px 0 0;">
                            <label>Logged in as:</label>
                            <input disabled ng-model="bluemix.credentials.email">
                        </md-input-container>
                        <div ng-if="bluemix.organizations_list">
                            <div ng-if="bluemix.credentials.selected_organization ===''" style="display: inline-block;" layout="column" layout-align="center start">Choose organization:</div>
                            <md-input-container class="layout-row" style="margin: 0; margin-right: 20px; padding-bottom: 8px; display: inline-block;">
                                <label>Organization:</label>
                                <md-select class="flex-100" ng-model="bluemix.credentials.selected_organization" ng-change="bluemix.setChoosenOrg(bluemix.credentials.selected_organization)">
                                    <md-option ng-repeat="(key, value) in bluemix.organizations_list" value="{{key}}">
                                        {{value.entity.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div ng-if="bluemix.organization_spinner === true" style="text-align: center; display: inline-block;"><md-icon style="font-size: 20px;" class="fa fa-spinner fa-pulse"></md-icon></div>
                            <div ng-if="bluemix.space_list" style="display: inline-block;">
                                <div ng-if="bluemix.credentials.selected_space ===''" style="margin-right: 20px; display: inline-block;" layout="column" layout-align="center start">Choose space:</div>
                                <md-input-container class="layout-row" style="margin: 0; padding-bottom: 8px; display: inline-block;">
                                    <label>Space:</label>
                                    <md-select class="flex-100" ng-model="bluemix.credentials.selected_space" ng-change="bluemix.setChoosenSpace(bluemix.credentials.selected_space)">
                                        <md-option ng-repeat="(key, value) in bluemix.space_list" value="{{key}}">
                                            {{value}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div ng-if="bluemix.space_spinner === true" style="text-align: center; display: inline-block;"><md-icon style="font-size: 20px;" class="fa fa-spinner fa-pulse"></md-icon></div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-button class="md-raised" ng-click="initBluemixImage()" ng-if="bluemix.authenticated === true">
                    <md-icon class="fa fa-plus" style="width:14px;height:14px;"></md-icon>
                    Image
                </md-button>
            </div>
            <div layout="row" style="margin-top: 30px; padding-left: 5px;">

            </div>
            <div ng-if="bluemix.authenticated === true" layout="row">
                <md-card class="md-altTheme-theme" style="width:100%;overflow:hidden;">
                    <md-card-content style="padding:0;">
                        <table class="datatable" class="layout-row" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Creation Date</th>
                                <th ng-style="{color: bluemix.images_counter > 0 ? 'rgba(0,0,0,.54)':'transparent'}">Application</th>
                                <th ng-style="{color: bluemix.images_counter > 0 ? 'rgba(0,0,0,.54)':'transparent'}">Build #</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="image in bluemix.images track by $index">
                                <tr style="cursor: pointer;" ng-click="bluemix.toggleImageApps($index)">
                                    <td>{{image.clearImageName + ':' + image.version}}</td>
                                    <td>{{(image.created | date: 'EEE MMM dd yyyy HH:mm:ss') + ' GMT' + (image.created | date: 'Z')}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span ng-show="image.created"><md-button style="margin: 0; padding: 0; min-width: 20px" ng-click="bluemix.confirmImageDelete($event, image, $index)"><md-icon class="fa fa-lg fa-trash-o" style="font-size:20px; padding-top: 3px; color:#158194;"></md-icon></md-button></span>
                                        <i style="margin-left: 5px;" ng-show="!image.created" class="fa fa-spinner fa-spin"></i>
                                        <!--<span><md-button style="margin: 0; padding: 0; min-width: 20px" ng-click="bluemix.runImage(image)"><md-icon class="fa fa-lg fa-play" style="font-size:20px; padding-top: 3px; color:#158194;"></md-icon></md-button></span>-->
                                    </td>
                                </tr>
                                <tr ng-if="image.show_apps === true" ng-repeat="application in image.content track by $index" style="background: #ffffff">
                                    <td></td>
                                    <td></td>
                                    <td>{{application.name}}</td>
                                    <td><span ng-repeat="build in application.builds track by $index" style="display: block;">{{build}}</span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="PhoneGap">
        <md-content style="padding-top: 20px;">
            <form ng-submit="savePhoneGapData()">
                <h5 class="md-title" style="padding-left: 10px">Login</h5>
                <div layout="row" class="layout-padding">
                    <md-input-container class="md-block flex-25" style="margin: 0; padding-top: 20px;">
                        <input id="phoneGapLogin" ng-model="phoneGapLogin" required md-autofocus>
                    </md-input-container>
                </div>
                <h5 class="md-title" style="padding-left: 10px">Password</h5>
                <div layout="row" class="layout-padding">
                    <md-input-container class="md-block flex-25" style="margin: 0; padding-top: 20px;">
                        <input id="phoneGapPassword" type="password" ng-model="phoneGapPassword" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-align ="start">
                    <button type="submit" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-floppy-o" style="color: #757575"></span><span style="padding-left:5px">Save</span></button>
                </div>
            </form>
        </md-content>
    </md-tab>
</md-tabs>
