<md-dialog aria-label="copy-component" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools layout-padding">
                <h5>Copy 
                    <span ng-if="targetComponent.type === 'page'">Page</span>
                    <span ng-if="targetComponent.type === 'view'">View</span>
                    <span ng-if="targetComponent.type === 'apiso'">API Service Object</span>
                    to...
                </h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" style="margin-right:-6px;">
                    <md-icon class="fa fa-lg fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-column">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>Name:</label>
                    <input id="to-copy-name" ng-model="toCopy.name" md-autofocus ng-keyup="($event.keyCode == 13 && toCopy.name !=='') ? copyComponent() : ''">
                </md-input-container>
                <md-input-container class="input-select-aligned margin-select">
                    <label>Application:</label>
                    <md-select ng-model="toCopy.applicationTarget" aria-label="component.application">
                        <md-option ng-click="chooseCategories(application.name)" ng-value="application.name" ng-repeat="application in applications track by $index">{{ application.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="input-select-aligned margin-select">
                    <label>Category:</label>
                    <md-select ng-model="toCopy.categoryTarget" aria-label="toCopy.categoryTarget">
                        <md-option ng-value="category" ng-repeat="category in categories track by $index">{{ category }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="targetComponent.type === 'apiso'" ng-if="targetComponent.type === 'apiso'" class="md-block flex" style="margin: 24px 0 0 0;">
                    <label>API Route Prefix:</label>
                    <input ng-model="prefix.value">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="copyComponent()">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>