<md-dialog aria-label="create_resource"  ng-cloak style="width: 300px;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h5 ng-if="current_resource_type !== 'dictionary'">Enter new resource name</h5>
                <h5 ng-if="current_resource_type === 'dictionary'">Add new business object</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-lg fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content layout-row layout-padding">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>name</label>
                    <input ng-if="current_resource_type !== 'dictionary'" id="new_resource_name" ng-model="resource_name.value" md-autofocus>
                    <input ng-if="current_resource_type === 'dictionary'" ng-model="dictionary_name.value" md-autofocus>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="hide()">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>