<div layout="column">	
	<div id="dfx-app-data-dictionary">
        <section class="md-whiteframe-1dp" style="border-radius: 4px; overflow: hidden;">
            <div id="dfx-app-data-dictionary-json"></div>
        </section>        
    </div>
    <div style="display:flex; justify-content: flex-end; margin-top: 10px;">
        <md-button class="md-primary" ng-click="saveDataDictionary()" ng-disabled="disable_data_dictionary" aria-label="Studio button">
            Save
        </md-button>
        <md-button class="md-primary" ng-click="exitDataDictionary()" aria-label="Studio button">
            Cancel
        </md-button>
    </div>
</div>