<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Environments">
        <md-content class="md-padding">
            <h1 class="md-display-2">Environments</h1>
            <p>Coming soon. This feature will be available in a future release. To know more about managing environments in DreamFace, contact our support:</p>
            <md-button class="md-raised md-primary" ng-href="#contactus">DreamFace Support</md-button>
        </md-content>
    </md-tab>
    <md-tab label="Environments Variables">
        <md-content class="md-padding">
            <div layout="row" class="layout-align-end">
                <md-button class="md-raised" ng-click="openDialog()" aria-label="Studio button">
                    <md-icon class="fa fa-plus dfx-studio-flex-icon"></md-icon>
                    Variable
                </md-button>
            </div>
            <div layout="row">
                <md-card class="md-altTheme-theme" style="width:100%;overflow:hidden;">
                    <md-card-content style="padding:0;">
                        <table class="datatable" class="layout-row" style="width: 100%">
                            <thead>
                                <tr>
                                    <th><span>Name</span></th>
                                    <th><span>Description</span></th>
                                    <th><span>Actions</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="env_var in env_vars_list track by $index">
                                <td>{{env_var.name}}</td>
                                <td>{{env_var.description}}</td>
                                <td>
                                    <md-button ng-click="openDialog(env_var)" class="dfx-studio-table-button" aria-label="Studio button">
                                        <md-icon class="fa fa-edit dfx-studio-flex-icon"></md-icon>
                                    </md-button>
                                    <md-button ng-click="confirmProviderRemove($event, env_var._id)" class="dfx-studio-table-button" aria-label="Studio button">
                                        <md-icon class="fa fa-trash dfx-studio-flex-icon"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Collaboration">
        <md-content class="md-padding">
            <form ng-submit="saveCollaboration()">
                <h5 class="md-title" style="padding-left: 10px">Slack Properties</h5>
                <div layout="row" class="layout-padding">
                    <md-input-container class="md-block flex-50">
                        <label>Channel</label>
                        <input ng-model="devops.channel">
                    </md-input-container>
                </div>
                <div layout="row" layout-align ="start">
                    <button type="submit" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-floppy-o" style="color: #757575"></span><span style="padding-left:5px">Save</span></button>
                </div>
            </form>
        </md-content>
    </md-tab>
    <md-tab label="Github">
        <md-content class="md-padding">
            <form ng-submit="saveGithub()">
                <h5 class="md-title" style="padding-left: 10px">Github Repository</h5>
                <div layout="row" class="layout-padding">
                    <md-input-container class="md-block flex">
                        <label>Access token:</label>
                        <input ng-model="devops.access_token" ng-required="true" placeholder="Github personal access token"  ng-keyup="( $event.keyCode == 13 && devops.access_token !=='' && devops.repository !=='' && devops.github_username !=='') ? saveGithub() : ''">
                    </md-input-container>
                </div>
                <div layout="row" class="layout-padding">
                    <md-input-container class="md-block flex-50">
                        <label>Name:</label>
                        <input ng-model="devops.repository" ng-required="true" placeholder="Repository name">
                    </md-input-container>
                    <md-input-container class="md-block flex-50">
                        <label>Owner's name:</label>
                        <input ng-model="devops.github_username" ng-required="true" placeholder="Repository owner name">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between center">
                    <div>
                        <button type="submit" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-floppy-o" style="color: #757575"></span><span style="padding-left:5px">Save</span></button>
                        <button ng-click="" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-cloud-download" style="color: #757575"></span><span style="padding-left:5px">Git Pull</span></button>
                        <button ng-click="" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-cloud-upload" style="color: #757575"></span><span style="padding-left:5px">Git Push</span></button>
                        <button ng-click="" class="md-raised md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-info" style="color: #757575"></span><span style="padding-left:5px">Git Status</span></button>
                    </div>
                    <button ng-click="" class="md-raised md-warn md-button md-altTheme-theme md-ink-ripple"><span class="fa fa-lg fa-trash-o" style="color: #ffffff"></span><span style="padding-left:5px">Empty Remote Repository</span></button>
                </div>
            </form>
        </md-content>
    </md-tab>
</md-tabs>