<div layout="row" layout-align="space-between center" style="background:#DCDCDC">
    <h4 style="padding: 5px 10px 4px;">
        Applications > {{app_name}} > <span style="text-transform: capitalize;">{{view_platform === 'web' ? 'Desktop' : view_platform }}</span> > GC Templates
    </h4>
</div>

<div layout="row">
    <md-content class="md-padding flex-100" layout="column">
        <md-card style="flex-grow:3;overflow:hidden;">
            <md-card-content style="padding:0;">
                <table class="datatable" style="width:100%;">
                    <thead>
                        <tr style="border-bottom:1px solid #C7C7C7;">
                            <th width="15%">Name</th>
                            <th width="15%">App</th>
                            <th width="15%">Platform</th>
                            <th width="45%">Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <div id="scope-source-table" style="padding:0;overflow-y:auto;">
                    <table class="datatable" style="width:100%;">
                        <tbody>
                            <tr ng-repeat="gc_template in gc_templates track by $index" ng-click="" style="cursor:pointer;">
                                <td width="15%">{{gc_template.name}}</td>
                                <td width="15%">{{gc_template.application}}</td>
                                <td width="15%">{{gc_template.platform}}</td>
                                <td width="45%">{{gc_template.description}}</td>
                                <td>
                                    <md-button ng-click="edit( gc_template )" ng-disabled="gc_template.name ==='default'" style="margin: 0; padding: 0; min-width: 20px" aria-label="editGcTemplate"><md-icon class="fa fa-edit" style="font-size:20px; padding-top: 5px;"></md-icon></md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
