<div style="width: 100%;">
    <md-toolbar style="min-height:40px;background:#383838">
        <div style="height:40px;" layout="row">
            <div flex="30">
                <a ng-href="http://www.interactive-clouds.com" target="_blank">
                    <img style="height: 20px;margin-top: 12px; margin-left: 15px;outline: none" src="/images/ic_logo.png"/>
                </a>
            </div>
            <div flex layout="row" layout-align="center center">
                <div style="color: #212121;font-size: 13px;line-height:25px;padding-left:5px; padding-right:5px; background:#A2F321;border-radius:3px;outline: none;width:100px">
                    Version {{dfx_version_major}}.{{dfx_version_minor}}{{dfx_version_release}}
                </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <div style="color: #fff;font-size: 13px;line-height:25px;padding-left:5px; padding-right:5px; background:#2196F3;border-radius:3px;outline: none;margin-right: 15px;text-overflow: ellipsis;">
                    Tenant ID: {{tenant_id}}
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-content style="padding-top: 250px;">
        <div layout="row"  layout-align="center center">
            <div style="font-size: 36px;color:#27D9FF;margin-right: 3px;">Welcome to </div>
            <div style=""><img style="height: 65px; margin-top: -5px;" src="/images/df_LogoConsole.png"/></div>
        </div>
        <div layout="row"  layout-align="center center">
            <div style="padding: 52px;" layout="column" layout-align="center center">
                <md-button style="background: white;width: 100px;height: 100px;" class="md-fab" aria-label="Home Page buttons">
                    <md-icon style="font-size: 50px;width: 60px;height: 60px;padding-top: 8px;" class="landing-buttons fa fa-graduation-cap" ng-click="openGettingStarted()"></md-icon>
                </md-button>
                <div class="text1-font-family" style="font-size: 22px;color:rgba(0,0,0,0.54);">
                    Getting Started</div>
            </div>
            <div style="padding: 52px;" layout="column" layout-align="center center">
                <md-button style="background: white;width: 100px;height: 100px;" class="md-fab" aria-label="Home Page buttons">
                    <md-icon style="font-size: 50px;width: 60px;height: 60px;padding-top: 8px;" class="landing-buttons fa fa-desktop"></md-icon>
                </md-button>
                <div class="text1-font-family" style="font-size: 22px;color:rgba(0,0,0,0.54);">
                    Sample Apps</div>
            </div>
            <div style="padding: 52px;" layout="column" layout-align="center center">
                <md-button style="background: white;width: 100px;height: 100px;" class="md-fab" aria-label="Home Page buttons" ng-click="openDocumentation()">
                    <md-icon  style="font-size: 50px;width: 60px;height: 60px;padding-top: 8px;" class="landing-buttons fa fa-file-text-o"></md-icon>
                </md-button>
                <div class="text1-font-family" style="font-size: 22px;color:rgba(0,0,0,0.54);">
                    Documentation</div>
            </div>
            <div style="padding: 52px;" layout="column" layout-align="center center">
                <md-button style="background: white;width: 100px;height: 100px;" class="md-fab" aria-label="Home Page buttons" ng-href="/studio/index.html">
                    <md-icon style="font-size: 50px;width: 60px;height: 60px;padding-top: 30px;" class="landing-buttons fa fa-folder-o"></md-icon>
                </md-button>
                <div class="text1-font-family" style="font-size: 22px;color:rgba(0,0,0,0.54);">
                    My Apps</div>
            </div>
        </div>
    </md-content>
</div>

<md-toolbar style="height:70px;background:#1BC2E8" layout="row"  layout-align="end center">
    <span class="text1-font-family" style="font-size:13px;padding-right:25px;color:white;">Copyright &copy; Interactive Clouds <br> All rights reserved.</span>
</md-toolbar>