<md-dialog aria-label="move-component" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools layout-padding">
                <h5>Move
                    <span ng-if="targetComponent.type === 'page'">Page</span>
                    <span ng-if="targetComponent.type === 'view'">View</span>
                    <span ng-if="targetComponent.type === 'apiso'">API Service Object</span>
                    to...
                </h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" style="margin-right:-6px;">
                    <md-icon class="fa fa-lg fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-column">
                <md-input-container class="input-select-aligned margin-select">
                    <label>Category:</label>
                    <md-select ng-model="toMove.category" aria-label="toMove.category">
                        <md-option ng-value="category" ng-repeat="category in categories track by $index">{{ category }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="moveComponent()">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>