<form ng-submit="save()">
	<div layout="row" layout-align="space-between center" style="background:#DCDCDC">
		<h4 style="padding-left:10px">Create a new Page</h4>
		<div layout="row">
			<md-button aria-label="Studio button" class="md-primary" type="submit">Save</md-button>
			<md-button aria-label="Studio button" class="md-primary" ng-click="cancel($event)">Cancel</md-button>
		</div>
	</div>
	<div layout="column" layout-padding>
		<div layout="row" layout-padding>
			<md-input-container flex="40">
		        <label>Name</label>
		        <input type="text" id="page-name" ng-model="page.name"/>
		    </md-input-container>
			<md-input-container flex="60">
		        <label>Title</label>
		        <input type="text"  ng-model="page.title"/>
		    </md-input-container>
		</div>
		<div layout="row" layout-padding>
			<md-input-container class="input-select-aligned margin-select" flex="40" style="padding: 0px 8px;">
			  <label>Category</label>
			  <md-select ng-model="page.category" aria-label="page.category">
			    <md-option ng-value="category.name" ng-repeat="category in app_categories track by $index">{{ category.name }}</md-option>
			  </md-select>
			</md-input-container>
	        <!--<md-input-container class="input-select-aligned margin-select" flex="20" style="padding: 0px 8px;">-->
	            <!--<label>Platform</label>-->
	            <!--<md-select ng-model="page.platform" aria-label="page.platform" ng-disabled="platformDisabled">-->
	                <!--<md-option ng-value="platform" ng-repeat="platform in ['web', 'tablet', 'mobile'] track by $index">{{ platform }}</md-option>-->
	            <!--</md-select>-->
	        <!--</md-input-container>-->
		</div>
	</div>
</form>