<div layout="row" class="col-md-12" layout-align="start end" style="min-height:48px;">
    <span class="col-md-12">
        <md-button ng-if="javascript.resources_javascript_selected.length > 0" ng-click="javascript.confirmResourceDeleteAll($event)" class="md-raised md-warn">
            <span class="fa fa-trash-o"></span>
            Delete
        </md-button>
    </span>
</div>
<table class="datatable" style="width:100%;">
    <thead>
        <tr style="border-bottom:1px solid #C7C7C7;">
            <th>
                <md-checkbox ng-model="javascript.is_all_resources_javascript_selected" ng-click="javascript.toggleAllJavascript()" style="margin: 0; padding: 0; min-width: 20px"></md-checkbox>
            </th>
            <th width="25%">Path</th>
            <th width="25%">Type</th>
            <th width="25%">Size</th>
            <th width="25%">Actions</th>
        </tr>
    </thead>
</table>
<div id="scope-source-table" style="padding:0;overflow-y:auto;">
    <table class="datatable" style="width:100%;">
        <tbody>
            <tr ng-repeat="resitem in javascript.data.items track by $index" style="cursor:pointer;">
                <td>
                    <md-checkbox ng-checked="javascript.isSelectedJavascript(resitem)" ng-click="javascript.toggleSelectionJavascript(resitem)" style="margin: 0; padding: 0; min-width: 20px"></md-checkbox>
                </td>
                <td width="25%">{{resitem.path}}</td>
                <td width="25%">{{resitem.type}}</td>
                <td width="25%">{{resitem.size}}<span ng-if="resitem.size"> KiB</span></td>
                <td width="25%">
                    <div layout="row" layout-align="start center">
                        <md-button ng-click="javascript.editResource(resitem.path, $index)" style="margin: 0; padding: 0; min-width: 20px" title="Edit"><md-icon class="fa fa-edit" style="font-size:20px; padding-top: 3px;"></md-icon></md-button>
                        <md-button ng-click="javascript.confirmResourceDelete($event, resitem)" style="margin: 0; padding: 0; min-width: 20px" title="Remove"><md-icon class="fa fa-trash" style="font-size:20px;"></md-icon></md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
