<md-dialog aria-label="saveas-template" ng-cloak>
    <form ng-submit="saveAsTemplate()">
        <md-toolbar>
            <div class="md-toolbar-tools layout-padding">
                <h5>Save Template As</h5>
                <span flex></span>
                <md-button aria-label="Studio button" class="md-icon-button" ng-click="closeDialog()" style="margin-right:-6px;">
                    <md-icon class="fa fa-lg fa-times dfx-studio-flex-icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-column">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>Name:</label>
                    <input id="dfx-page-template-newname" ng-model="template.name" md-autofocus>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button aria-label="Studio button" class="md-primary" type="submit">OK</md-button>
            <md-button aria-label="Studio button" class="md-primary" ng-click="closeDialog()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>