<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="User Object Definition">
        <md-content class="md-padding" ng-controller="dfx_studio_user_definition_controller" style="padding-bottom:0">
            <div class="dfx-studio-tree-editor" id="dfx-studio-user-definition-panels">
                <section class="md-whiteframe-1dp dfx-tree-editor-two-sections">
                    <md-toolbar class="dfx-studio-toolbar-title">
                        <div class="md-toolbar-tools">
                            <h3>Structure</h3>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="dfx-studio-toolbar-buttons">
                        <md-menu-bar style="padding:0px">
                            <md-menu style="vertical-align:middle">
                                <md-button aria-label="Studio button" class="fa dfx-studio-toolbar-button fa-plus" ng-click="$mdOpenMenu()"></md-button>
                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button style="font-size: 12px;line-height:0px" ng-click="addUserDefinitionObject()" class="dfx-studio-table-button" aria-label="Studio button">
                                            Create Object
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button style="font-size: 12px;line-height:0px" ng-click="addUserDefinitionProperty()" class="dfx-studio-table-button" aria-label="Studio button">
                                            Create Property
                                        </md-button>
                                    </md-menu-item>                                                 
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>
                        <md-button aria-label="Studio button" class="fa dfx-studio-toolbar-button fa-minus" ng-click="confirmDelete($event)"></md-button>
                    </md-toolbar>

                    <md-content id="dfx_studio_user_definition_tree" class="menu-structure" layout-padding flex></md-content>
                </section>

                <section ng-if="operation==='update_user_definition'" class="md-whiteframe-1dp dfx-tree-editor-two-sections">
                    <md-toolbar class="dfx-studio-toolbar-title">
                        <div class="md-toolbar-tools">
                            <h3>Properties</h3>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding flex style="">
                        <div class="dfx-ve-property-treeview hover clearfix" style="padding:8px 16px 12px 12px;margin:0 -8px;">
                            <ul ng-if="user_definition.current_node" class="dfx-ve-property-picker-content" style="margin:0;padding:0">
                                <li class="col-md-12">
                                    <span class="col-md-4">Name:</span>
                                    <input class="col-md-8" type="text" ng-model="user_definition.current_node_name" ng-disabled="user_definition.current_node.mandatory == 'true'" />
                                </li>
                                <li ng-if="user_definition.current_node.type != 'subdocument'" class="col-md-12">
                                    <span class="col-md-4">Title:</span>
                                    <input class="col-md-8" type="text" ng-model="user_definition.current_node.title" ng-disabled="user_definition.current_node.mandatory == 'true'" />
                                </li>
                                <li class="col-md-12">
                                    <span class="col-md-4" style="margin-top: 10px;">Type:</span>
                                    <md-input-container style="margin-top: 0px;padding:0" class="col-md-8">
                                        <md-select ng-model="user_definition.current_node.type" ng-disabled="user_definition.current_node.type == 'subdocument' || user_definition.current_node.mandatory == 'true'">
                                            <md-option ng-if="user_definition.current_node.type == 'subdocument'" value="subdocument">Object</md-option>
                                            <md-option value="boolean">Boolean</md-option>
                                            <md-option value="numeric">Numeric</md-option>
                                            <md-option value="string">String</md-option>
                                        </md-select>
                                    </md-input-container>
                                </li>
                                <li ng-if="user_definition.current_node.type != 'subdocument' && user_definition.current_node.mandatory != 'true'" class="col-md-12">
                                    <span class="col-md-4">Default:</span>
                                    <input class="col-md-8" type="text" ng-model="user_definition.current_node.defaults" />
                                </li>
                                <li ng-if="user_definition.current_node_root_level == true" class="col-md-12">
                                    <span class="col-md-4">Send to Client:</span>
                                    <md-checkbox style="margin:0" class="md-primary" aria-label="md-checkbox"
                                                 ng-model="user_definition.current_node.pass"
                                                 ng-true-value="'true'"
                                                 ng-false-value="'false'">
                                    </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </md-content>
                </section>
            </div>

            <div style="display:flex; justify-content: flex-end; margin-top: 15px;">
                <md-button aria-label="Studio button" class="md-primary" ng-click="updateUserDefinition()">Save</md-button>
                <md-button aria-label="Studio button" class="md-primary" ng-click="unselectUserDefinitionNode()">Cancel</md-button>
            </div>
        </md-content>
    </md-tab>

    <md-tab label="Roles">
        <md-content class="md-padding" ng-controller="dfx_studio_app_roles_controller">
            <div layout="row" class="layout-align-end">
                <md-button aria-label="Studio button" class="md-raised" ng-click="initNewRole()">
                    <md-icon class="fa fa-plus" style="width:14px;height:14px;"></md-icon>
                    Role
                </md-button>
            </div>
            <div layout="row">
                <md-card class="md-altTheme-theme" style="width:100%;overflow:hidden;">
                    <md-card-content style="padding:0;">
                        <table class="datatable" class="layout-row" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th width="20%">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="role in app_roles">
                                <td>{{role.name}}</td>
                                <td>{{role.description}}</td>
                                <td>
                                    <md-button aria-label="Studio button" ng-click="edit(role.name)" class="dfx-studio-table-button"><md-icon class="fa fa-edit"></md-icon></md-button>
                                    <md-button aria-label="Studio button" class="dfx-studio-table-button" ng-click="confirmDelete($event, role)" ng-disabled="role.unremovable"><md-icon class="fa fa-trash"></md-icon></md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-tab>

    <md-tab label="Application Users">
        <md-content class="md-padding" ng-controller="dfx_studio_app_users_controller">
            <div layout="row" class="layout-align-end">
                <md-button aria-label="Studio button" class="md-raised" ng-click="initNewUser()">
                    <md-icon class="fa fa-plus" style="width:14px;height:14px;"></md-icon>
                    User
                </md-button>
            </div>
            <div layout="row">
                <md-card class="md-altTheme-theme" style="width:100%;overflow:hidden;">
                    <md-card-content style="padding:0;">
                        <table class="datatable" class="layout-row" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Login</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.credentials.login}}</td>
                                <td>{{user.name.first}}</td>
                                <td>{{user.name.last}}</td>
                                <td>
                                    <md-button aria-label="Studio button" ng-click="edit(user.credentials.login)" class="dfx-studio-table-button"><md-icon class="fa fa-edit"></md-icon></md-button>
                                    <md-button aria-label="Studio button" ng-click="confirmDelete($event, user.credentials.login)" class="dfx-studio-table-button"><md-icon class="fa fa-trash"></md-icon></md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-tab>
</md-tabs>