<div layout="row" layout-align="space-between center" style="background:#DCDCDC">
    <h4 style="padding: 5px 10px 4px;">
        <span ng-if="entity === 'pages'">{{appname}} > Pages</span>
        <span ng-if="entity === 'views'">{{appname}} > Views</span>
        <span ng-if="entity === 'apiServices'">{{appname}} > API Service Objects</span>
    </h4>
    <div layout="row">
        <md-button aria-label="Studio button" ng-click="addEntity('Default')" class="md-primary">+
            <span ng-if="entity === 'pages'">Page</span>
            <span ng-if="entity === 'views'">View</span>
            <span ng-if="entity === 'apiServices'">API Service Object</span>
        </md-button>
    </div>
</div>
<div layout="row">
    <md-content class="md-padding flex-100" style="overflow:auto;">
        <md-card style="overflow:hidden;">
            <md-card-content style="padding:0;">
                <table class="datatable" style="width:100%;">
                    <thead>
                        <tr style="background:#4bcdff;color:#0f518e;border-bottom: 1px solid #999;">
                            <th width="15%">Name</th>
                            <th width="15%">App</th>
                            <th width="15%" ng-if="entity !== 'apiServices'">Platform</th>
                            <th width="15%">Category</th>
                            <th width="25%">{{ entity === 'pages' ? 'Title' : 'Description'}}</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                </table>
                <div style="padding:0;overflow-y:auto;">
                    <table class="datatable" style="width:100%;">
                        <tbody>
                            <tr ng-repeat="item in table_data " ng-if="item.platform !== 'tablet'" ng-click="" style="cursor:pointer;">
                                <td width="15%">{{item.name}}</td>
                                <td width="15%">{{appname}}</td>
                                <td width="15%" ng-if="entity !== 'apiServices'" style="text-transform:capitalize;">{{item.platform === 'web' ? 'Desktop' : item.platform}}</td>
                                <td width="15%">{{item.category }}</td>
                                <td width="25%">{{entity === 'pages' ? item.title : item.description}}</td>
                                <td style="text-align:center">
                                    <md-button ng-click="edit(item)" class="dfx-studio-table-button" aria-label="edit-element" title="Edit component">
                                        <md-icon class="fa fa-edit"></md-icon>
                                    </md-button>
                                    <md-button ng-if="entity === 'views'" ng-click="infoEntity(item)" class="dfx-studio-table-button" aria-label="copy-element" title="Information">
                                        <md-icon class="fa fa-info"></md-icon>
                                    </md-button>
                                    <md-button ng-click="copyEntity(item)" class="dfx-studio-table-button" aria-label="copy-element" title="Copy component">
                                        <md-icon class="fa fa-copy"></md-icon>
                                    </md-button>
                                    <md-button ng-click="removeEntity(item, $event)" class="dfx-studio-table-button" aria-label="remove-element" title="Remove component">
                                        <md-icon class="fa fa-trash"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>