<md-dialog aria-label="view-rename" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h5>New View Name:</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="fa fa-lg fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:400px;">
            <div class="md-dialog-content layout-row layout-padding" style="padding-bottom:0;">
                <md-input-container class="md-block flex" style="margin: 0;">
                    <label>New View Name</label>
                    <input id="new-view-name" ng-model="newName.value" md-autofocus ng-keyup="( $event.keyCode == 13 && newName.value !=='') ? rename( newName.value) : ''">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="rename( newName.value)">
                OK
            </md-button>
            <md-button class="md-primary" ng-click="closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>