<form ng-submit="save()">
	<div layout="row" layout-align="space-between center" style="background:#DCDCDC">
		<h4 style="padding-left:10px">Create a new View</h4>
		<div layout="row">
			<md-button class="md-primary" type="submit">Save</md-button>
			<md-button class="md-primary" ng-click="cancel($event)">Cancel</md-button>
		</div>
	</div>
	<div layout="column" layout-padding>
		<div layout="row" layout-padding>
			<md-input-container flex="40">
		        <label>Name</label>
		        <input type="text" id="view-name" ng-model="view.name"/>
		    </md-input-container>
			<md-input-container flex="60">
		        <label>Description</label>
		        <input type="text"  ng-model="view.description"/>
		    </md-input-container>
		</div>
		<div layout="row" layout-padding>
			<md-input-container class="input-select-aligned margin-select" flex="40" style="padding: 0px 8px;">
			  <label>Category</label>
			  <md-select ng-model="view.category" aria-label="view.category">
			    <md-option ng-value="category.name" ng-repeat="category in app_categories track by $index">{{ category.name }}</md-option>
			  </md-select>
			</md-input-container>
			<md-input-container flex="60">
		        <label>Owner</label>
		        <input type="text"  ng-model="view.owner"/>
		    </md-input-container>
		</div>
	    <!--<div layout="row" layout-padding>-->
	        <!--<md-input-container class="input-select-aligned margin-select" flex="40" style="padding: 0px 8px;">-->
	            <!--<label>Platform</label>-->
	            <!--<md-select ng-model="view.platform" aria-label="view.platform" ng-disabled="platformDisabled">-->
	                <!--<md-option ng-value="platform.value" ng-repeat="platform in [{'value':'web', 'label':'Web'}, {'value':'tablet', 'label':'Tablet'}, {'value':'mobile', 'label':'Mobile'}] track by $index">{{ platform.label }}</md-option>-->
	            <!--</md-select>-->
	        <!--</md-input-container>-->
	    <!--</div>-->
	</div>
</form>