doctype html
html
	head
		title DreamFace Internal Error
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet'")
		link(rel="stylesheet", type="text/css", href="/css/preview/dfx.min.css", media="screen")
	body
		div.dfx-core-error-page
			div.dfx-core-error-msg
				div.dfx-core-error-msg-content
					h1 #{title}
					p #{message}
			div.dfx-core-error-copyright
				p
					a(href="https://www.interactive-clouds.com/theproduct.html", target="_blank", title="DreamFace")
						img(src="/images/df_logo_error.png")
				p
					span Copyright &copy;&nbsp;
					a(href="https://www.interactive-clouds.com/") Interactive Clouds
					span , All Rights Reserved
