div.form-group
    label(for="dfx_github_settings_access_token") Username:
    input.form-control(name="username", value=locals.username, type="text", autocomplete="off")
div.form-group
    label(for="dfx_github_settings_repository") Password:
    input.form-control(name="password", value=locals.password, type="text", autocomplete="off")
