div.form-group
    label(for="dfx_github_settings_access_token") Signature Method:
    select.form-control(name="signature_method")
        option(selected="selected", value="HMAC-SHA1") HMAC-SHA1
        option(value="PLAINTEXT") PLAINTEXT
div.form-group
    label(for="dfx_github_settings_repository") Consumer Key:
    input.form-control(name="consumer_key", value=locals.consumer_key, type="text", autocomplete="off")
div.form-group
    label(for="dfx_github_settings_repository") Consumer Secret:
    input.form-control(name="consumer_secret", value=locals.consumer_secret, type="text", autocomplete="off")
div.form-group
    label(for="dfx_github_settings_repository") Access Token:
    input.form-control(name="access_token", value=locals.access_token, type="text", autocomplete="off")
div.form-group
    label(for="dfx_github_settings_repository") Access Secret:
    input.form-control(name="access_secret", value=locals.access_secret, type="text", autocomplete="off")
