doctype html
html
    head
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title DreamFace Studio Log in
        link(rel="stylesheet", href="/css/studio/dfx.min.css", media="screen")
        script(src="/js/studio/dfx.js")
        script.
            function consoleLogin() {
                var obj = {
                    url: '/studio/login',
                    type: 'POST',
                    data: {
                        tenantid: $('#tenantid').val(),
                        userid: $('#userid').val(),
                        password: $('#password').val()
                    },
                    headers: {'X-DREAMFACE-TENANT': $('#tenantid').val()}
                };

                deleteCookie('X-DREAMFACE-TENANT');
                document.cookie = "X-DREAMFACE-TENANT=" + $('#tenantid').val() + ";path=/;";

                $.ajax(obj).then(function (data) {
                    window.location.href = "/studio/landing.html";
                });

                function deleteCookie(name) {
                    var date = new Date(0);
                    document.cookie = name + "=; path=/; expires=" + date.toUTCString();
                }
            }
            $(document).keyup(function(e) { 
                if (e.which === 13 && $(document.activeElement).attr('id') !=='sign-in-button') consoleLogin();
                e.preventDefault();
                e.stopPropagation();
            });

    body(style="margin:0;", ng-app="dfxStudioLandingApp", ng-controller="dfx_studio_login_controller")
        div.layout-row(style="height:100%;")
            div.layout-column.layout-align-space-between-center(style="width:320px;background:#1BC2E8;")
                div
                    div
                        img(src="/images/dfx_login_logo_white.png" style="height:64px;padding-top:30px;padding-left:30px;")
                    div(style="padding:20px 30px 0 30px;")
                        span.text1-font-family(style="color:white;font-size:20px;") The new face of cloud development.
                div(style="text-align:right;font-size:13px;padding:0 25px 25px 45px;color:white;")
                    span.text1-font-family Copyright &copy; Interactive Clouds All rights reserved.
            div.layout-column.layout-align-start-start.flex-100(style="padding-left:100px;padding-top:250px;")
                div
                    //div.cloud-platform
                        i.fa.fa-arrow-right
                        | &nbsp;Cloud Platform:&nbsp;#{tenantid}
                    div
                        div.panel-heading
                            div.panel-heading-img
                                img(src="/images/df_LogoConsole.png" style="width:332px;")
                        div.panel-body
                            input#tenantid(type="hidden", value="#{tenantid}", name="tenantid")
                            div
                                md-input-container.md-block
                                    label Username
                                    input.text2-font-family#userid(type="text", name="userid", value="#{userid}" style="font-size:18px;")
                                md-input-container.md-block(style="margin-bottom:0;")
                                    label Password
                                    input.text2-font-family#password(type="password", autofocus=(userid ? true : undefined), name="password" style="font-size:18px;")
                            div.layout-row.layout-align-space-between-center
                                div(ng-show="false")
                                    md-checkbox.md-primary.text2-font-family(style="margin:0;font-size:13px;color:#383838") Stay Signed In
                                div(ng-show="false")
                                    a.text2-font-family(href="#" style="font-size:13px;color:#1BC2E8;") Forgot Password?
                            div.layout-row.layout-align-end-center(style="margin-top:10px;")
                                div
                                    button.md-button(id="sign-in-button" onclick="consoleLogin()" style="background: #383838;color: white;width:130px;margin:10px 0 0 0;") Sign in
