/********/
/* Body */
/********/

#dfx-studio-main-body {
  overflow:hidden;
}

/***************/
/* Toast Theme */
/***************/

md-toast.md-success-toast-theme div {
    background-color: rgb(132, 227, 255);
    color: rgb(58, 58, 58);
}

md-toast.md-warn-toast-theme div {
    background-color: rgb(255,87,34);
    color: rgb(255,255,255);
}

md-toast.md-error-toast-theme div {
    background-color: rgb(255,82,82);
    color: rgba(0,0,0,0.87);
}

/**********/
/* Header */
/**********/

#dfx-studio-header {
  background-color: #353535;
  border-bottom: 1px #d2d2d2 solid;
}

/************/
/* Side Nav */
/************/

#dfx-studio-toggle-explorer {
  background: #B1B1B1;
  margin: 0px !important;
  height: 32px;
  color: #383838;
  padding: 0;
}

#dfx-studio-sidenav-left {
  width: 270px;
  background-color: #383838;
  color: #fff;
}

#dfx-studio-sidenav-left-content {
  background-color: #383838;
  color: #fff;
}

#dfx-studio-explorer-title {
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 270px;
  background: #B1B1B1;
}

.dfx-studio-explorer-title-collapsed {
  width: 32px !important;
}

.dfx-studio-explorer-title-text-collapsed {
  display: none !important;
}

#dfx-studio-explorer-title-text {
  display: inline-block;
  padding-left: 10px;
  width: 238px;
}

/***********/
/* Toolbar */
/***********/

.dfx-studio-toolbar {
  background-color: #ececec !important;
  color: #000 !important;
  min-height: 36px !important;
}

.dfx-studio-toolbar-tools {
  padding: 0;
  height: 36px !important;
  max-height: 36px !important;
}

.dfx-studio-toolbar-button {
  width: 30px;
  min-width: 30px;
  height: 24px;
  min-height: 24px;
  /*line-height: 24px;*/
  line-height: 0px;
  margin: 2px;
}

.dfx-studio-toolbar-button-selected {
  border-bottom: 2px red solid;
}

/************************/
/* Application Explorer */
/************************/

#dfx-studio-explorer-search .md-errors-spacer {
 min-height: 0px;
}

@defaultColor: rgb(105, 167, 245);
@hoverColor: rgb(115, 203, 255);

//Mixins
.transition-duration(@duration: 1s) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -ms-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-property(@property) {
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -ms-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.user-select(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

// Graphical Controls Palette Treeview
.dfx-studio-explorer-treeview {
  //float: left; //Prevent 100% width
  .user-select; //Prevent accidental selection on dbl click to fast expand/collapse

  //Fade back to default
  &:hover input ~ label:before,
  &.hover input ~ label:before{
    opacity: 1.0;
    .transition-duration(0.5s);
  }

  a {
  	color: #8DCEFF;
  }
  
  ul {
    .transition-duration;
    list-style: none;
    padding-left: 1em;
    width: 100%;
    li {
      padding-left:0px;
      //padding-right:5px;
      //Fade back to default
      span{
        .transition-property(color);
        .transition-duration;
      
        //Highlight on hover
        &:hover {
          color: @hoverColor;
          .transition-duration(0.3s);
        }
      }
    }
  }
  
  //Hide checkboxes
  input.dfx-studio-explorer-treeview-button {
    display: none;
    
    //Hide collapsed branches
    &:checked ~ ul {
      display: none;
    }
     
    //Show pointer on collapsible rows
    & ~ label {
      cursor: pointer;
      font-weight: 700;
    }
    
    //Expanded branch
    & ~ label:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      margin-left: -1em;
      margin-top: 0.4em;
      border-width: 4px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: @defaultColor;
      border-bottom-color: @defaultColor;
      border-left-color: transparent;
      .transition-property(opacity);
      .transition-duration;
    }

    //Collapsed branch
    &:checked ~ label:before {
      margin-left: -0.8em;
      border-width: 5px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: @defaultColor;
    }
  }
}

.dfx-studio-explorer-treeview-content {
}

.dfx-studio-explorer-treeview-content span {
//  padding-left: 5px;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 12px;
//  line-height: 25px;
  line-height: 20px;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dfx-studio-explorer-treeview-menuicon {
	display: none;
	cursor: pointer;
	margin-left: 10px;
}

.dfx-studio-explorer-treeview-menuicon-label {
  cursor: pointer;
  outline: 0;
}
label.dfx-studio-explorer-treeview-menuicon-label {
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-flex;
}

.dfx-studio-explorer-treeview-menuicon-label:hover > .dfx-studio-explorer-treeview-menuicon {
	display: inline-block !important;
}

.dfx-studio-explorer-popmenu {
	position: absolute;
    z-index: 2000;
    /*background: #F1F1F1;*/
    width: 150px;
    min-height: 100px;
    padding: 5px;
    cursor: pointer;
    background: #ffffff;
    a, button {
      color: #323232;
      line-height: 16px; 
      padding-top: 0px!important;
    }
    md-icon {
      text-align: center;
      height: 15px;
      min-height: 15px;
    }
    md-menu-item {
        &:hover {
            md-icon, span {
                color: #23527c;
            }
        }
    }
}

/********************/
/* Application Card */
/********************/
.dfx-studio-app-card {
    md-card-title {
        background: #4BCDFF;
    }
    .md-headline {
        .dfx-studio-app-name {
            display: inline-block;
            max-width: 222px;
            width: 222px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            outline: none;
        }
        a.pull-right {
            font-size: 18px;
            color: #0F518E;
        }
    }
    .md-subhead {
        max-width: 240px;
        width: 240px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/*datepicker label*/
.dp-label{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 17px !important;
  color: rgba(0,0,0,0.54)!important;
  font-weight: 700;
  font-size: 11px;
}

/*datatable*/
table.datatable > thead > tr{
  height: 56px;
}

table.datatable > tbody > tr{
  height: 48px;
  outline: none;
}

table.datatable > thead > tr > th{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
  font-weight: 600;
  padding: 0 28px;
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif !important;
}

table.datatable > tbody > tr > td{
  font-size: 13px;
  color: rgba(0,0,0,.87);
  border-top: 1px rgba(0,0,0,.12) solid;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.117647);
  padding: 0 28px;
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif !important;
}

table.datatable > tbody > tr:hover{
  background: #EEEEEE;
}

#users_roles_table_row_update:hover{
  background: transparent;
}

#users_roles_table_row_create:hover{
  background: transparent;
}

/* Studioviews tables buttons */
.dfx-studio-table-button {
    margin: 0;
    padding: 0;
    min-width: 20px;
    md-icon {
        font-size: 20px;
    }
}

/*sidenavtable*/

table.sidenavtable {
  &>thead {
    &>tr {
      height: 48px;
      &>th {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        white-space: nowrap;
        font-weight: 600;
        padding: 0 0px;
        font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif !important;
        md-checkbox {
          margin: 0;        
        }
      }
    }
  }
  &>tbody {
    &>tr {
      height: 40px;
      &>td {
        font-size: 13px;
        color: rgba(0,0,0,.87);
        border-top: 1px rgba(0,0,0,.12) solid;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.117647);
        padding: 0 0px;
        font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif !important;
        md-input-container {
          margin: 0;
        } 
        .md-errors-spacer {
          min-height: 0px;
        }
        md-checkbox {
          margin: 0;        
        }
      }
      &:hover {
        background: #EEEEEE;
      }
    }
  }
}
md-input-container.input-select-aligned {
  margin: 0px;
  label:not(.md-container-ignore) {
    position:relative !important;
    top:0px !important;
  }
  md-select md-select-value span.md-select-icon {
    margin-top: -2px!important;
    color: rgba(0,0,0,.26);
  }
  &.margin-select {
    margin-bottom: 24px;
  }
}
.textarea-gray:focus, .textarea-gray:hover {
  background-color: #EEE;
}

/* DFX simple md-input-container"> */
md-input-container.dfx-input-container-simple {
  margin: 0px;
  padding: 4px 0;
  width: 100%;
  .md-errors-spacer {
    min-height: 0px;
  }
}

/* api-datasource */
.api-datasource {
  .datasource-actions {
    justify-content: center;
    width: 5%;
    .toggle-info {
      transition: all 0.5s ease;
      text-decoration: none;
      &.opened {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);      
      }
    }
    &.restdata {
      width: 5%;
    }
  }
  .datasource-type {
    width: 20%;
    &.restdata {
      width: 14%;
    }
  }
  .datasource-service {
    flex-grow: 1;
    &.restdata {
      flex-grow: 0;
      width: 30%;
    }
  }
  .datasource-summary {
    width: 40%;
  }
  .datasource-select {
    width: 104px;
    padding: 8px !important;
    justify-content: center;
    button.md-button {
      margin: 0px;
    }
  }
  .api-datasource-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 48px;
    width: 100%;
    &>div {
      display: inline-flex;
      font-size: 12px;
      color: rgba(0,0,0,.54);
      white-space: nowrap;
      font-weight: 600;
      padding: 7px 28px;
      font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif!important;
      &.restdata {
        padding: 7px 8px;
      }
    }
  }
  .api-datasource-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 36px;
    .api-datasource-labels {
      display: flex;
      align-items: center;
      min-height: 36px;
      width: 100%;
      border-top: 1px rgba(0,0,0,.12) solid;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: rgba(0,0,0,.117647);
      &>div {
        display: inline-flex;
        font-size: 13px;
        color: rgba(0,0,0,.87);
        padding: 7px 28px;
        font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif!important;
          &.restdata {
          padding: 7px 8px;
        }
      }
    }
    .api-datasource-info {
      display:none;
      width: 100%;
      font-size: 13px;
      color: rgba(0,0,0,.87);
      padding: 0 8px 8px;
      font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif!important;
      background: rgba(128, 128, 128, 0.05);
      box-shadow: inset 0px 0px 7px 1px rgba(128, 128, 128, 0.15);
      table {
        width: 100%;
        thead {
          tr {
            th {
              color: rgba(0,0,0,.54);
              font-size: 12px;
              font-weight: 600;
              padding: 8px 28px;
            }            
          }
        }
        tbody {
          tr {
            border-top: 1px solid rgba(0,0,0,.12);
            td {
              padding: 0 28px;
            }
            &:first-child {
              border-top: 1px solid #888888;
            }
          }
        }
      }
    }
  }
}
.group-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px rgba(0,0,0,.12) solid;
  .trigger-source {
    border-top: none;
    flex-grow: 1;
  }
  md-checkbox {
    width: 20px;
    margin: auto 45px;
  }
}
.trigger-source {
  position:relative;
  z-index: 0;
  text-decoration: none;
  color: #757575;
  display: block;
  margin:0;
  padding:8px 8px 8px 40px;
  cursor:pointer;
  outline:none;
  border-top:1px rgba(0,0,0,.12) solid;
  &:before {
    position: absolute;
    z-index:0;
    top: 8px;
    left: 16px;
    content: "\f152";
    transition: all 0.5s ease;
  }
  &.opened:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);      
  }
}
.trigger-source-container {
  background: rgba(128, 128, 128, 0.05);
  box-shadow: inset 0px 0px 7px 1px rgba(128, 128, 128, 0.15);
}

/* add services popup */
#add-services {
  position: fixed;
  display:none;
  z-index: 7;
  top:150px;
  left:50%;
  width: 750px;
  min-height: 100px;
  margin: 0 0 0 -375px;
  background-color: #ffffff;
  border-radius:4px;
  overflow:hidden;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
#add-services-backdrop {
  position: fixed;
  display:none;
  z-index: 5;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(33,33,33,0.3); 
}

/*data dictionary*/
.dfx-ve-property-picker-content {
  padding-left: 0px !important;
}

.dfx-ve-property-picker-content span {
  padding-left: 5px;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.dfx-ve-property-picker-content input {
  border: 1px #ccc solid;
}

md-content.menu-structure {
  max-height: 300px;
  overflow-y: auto;
  &.options-editor {
    max-height: 268px;
  }
}

md-content.menu-structure ul {
  padding: 0px;
  list-style: none;
}
md-content.menu-structure ul ul {
  padding-left: 20px;
}
md-content.menu-structure ul li a {
  padding: 0px 10px;
  text-decoration: none;
  display: block;
}
md-content.menu-structure ul li a:hover {
  background:rgba(236,236,236,0.5);
}
md-content.menu-structure ul li.active > a {
  font-weight: 700;
  background:#ECECEC;
}

/*login landing page*/
.text1-font-family{
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.text2-font-family{
  font-family: HelveticaNeue, Helvetica Neue, HelveticaNeueRoman, HelveticaNeue-Roman, Helvetica Neue Roman, TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

.md-button.md-altTheme-theme.md-fab > md-icon.landing-buttons{
  color: rgba(0,0,0,0.54);
}

.md-button.md-altTheme-theme.md-fab > md-icon.landing-buttons:hover{
  color: #27D9FF !important;
}

/* DFX JSONEditor */
button[dfx-je-class="dfx-je-button"]{
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
button[dfx-je-class="dfx-je-button"]:after {
    display: none;
}
button[dfx-je-class="dfx-je-button"][dfx-icon="wrap_text"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M4 19h6v-2H4v2z"></path><path d="M20 5H4v2h16V5z"></path><path d="M17 11H4v2h13.25c1.1 0 2 .9 2 2s-.9 2-2 2H15v-2l-3 3 3 3v-2h2c2.21 0 4-1.79 4-4s-1.79-4-4-4z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="short_text"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M4 9h16v2H4z"></path><path d="M4 13h10v2H4z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="format_line_spacing"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M6 7h2.5L5 3.5 1.5 7H4v10H1.5L5 20.5 8.5 17H6V7z"></path><path d="M10 5v2h12V5H10z"></path><path d="M10 19h12v-2H10v2z"></path><path d="M10 13h12v-2H10v2z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="vertical_align_center"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M8 19h3v4h2v-4h3l-4-4-4 4z"></path><path d="M16 5h-3V1h-2v4H8l4 4 4-4z"></path><path d="M4 11v2h16v-2H4z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="undo"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="redo"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#ffffff"><path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="search"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="arrow_drop_down"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M7 10l5 5 5-5z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="arrow_drop_up"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M7 14l5-5 5 5z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="drag_handle"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M20 9H4v2h16V9z"></path><path d="M4 15h16v-2H4v2z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="menu"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M3 18h18v-2H3v2z"></path><path d="M3 13h18v-2H3v2z"></path><path d="M3 6v2h18V6H3z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="keyboard_arrow_down"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></svg>')
}
button[dfx-je-class="dfx-je-button"][dfx-icon="keyboard_arrow_right"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg>')
}

/* DFX JSONEditor in Dialog */
.dfx-studio-dialog-json-editor {
    border-radius: 4px;
    overflow: hidden;
}
.dfx-studio-dialog-json-editor div.jsoneditor-menu {
    height: 36px;
    padding: 2px;
    background-color: #ECECEC;
}
.dfx-studio-dialog-json-editor div.jsoneditor-menu>button, .dfx-studio-dialog-json-editor div.jsoneditor-menu>div.jsoneditor-modes>button {
    color: #676B6E;
}
.dfx-studio-dialog-json-editor table.jsoneditor-search div.jsoneditor-frame {
    margin: 1px 1px 0 0;
}
.dfx-studio-dialog-json-editor table.jsoneditor-search input {
    width: 120px;
}
.dfx-studio-dialog-json-editor table.jsoneditor-search div.jsoneditor-results {
    margin-top: 7px;
}
.dfx-studio-dialog-json-editor table.jsoneditor-search div.jsoneditor-results {
    color: #676B6E;
}
.dfx-studio-dialog-json-editor md-toolbar.dfx-je-toolbar {
    background: none;
    padding: 0;
    min-height: 36px;
}
.dfx-studio-dialog-json-editor div.jsoneditor-outer {
    margin: -36px 0 0 0;
    padding: 36px 0 0 0px;
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="wrap_text"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M4 19h6v-2H4v2z"></path><path d="M20 5H4v2h16V5z"></path><path d="M17 11H4v2h13.25c1.1 0 2 .9 2 2s-.9 2-2 2H15v-2l-3 3 3 3v-2h2c2.21 0 4-1.79 4-4s-1.79-4-4-4z"></path></svg>')
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="short_text"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M4 9h16v2H4z"></path><path d="M4 13h10v2H4z"></path></svg>')
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="format_line_spacing"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M6 7h2.5L5 3.5 1.5 7H4v10H1.5L5 20.5 8.5 17H6V7z"></path><path d="M10 5v2h12V5H10z"></path><path d="M10 19h12v-2H10v2z"></path><path d="M10 13h12v-2H10v2z"></path></svg>')
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="vertical_align_center"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M8 19h3v4h2v-4h3l-4-4-4 4z"></path><path d="M16 5h-3V1h-2v4H8l4 4 4-4z"></path><path d="M4 11v2h16v-2H4z"></path></svg>')
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="undo"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"></path></svg>')
}
.dfx-studio-dialog-json-editor button[dfx-je-class="dfx-je-button"][dfx-icon="redo"]{
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#676B6E"><path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"></path></svg>')
}

/* Input Container Label Fix */
md-input-container.md-input-focused label.md-placeholder {
    opacity: 0 !important;
}
md-input-container.md-input-has-value label.md-placeholder {
    opacity: 1 !important;
    color: rgba(0,0,0,0.54);
}
/* Studio md-icons and Font Awesome default color */
.fa {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.md-button.md-altTheme-theme.md-raised:not([disabled]) md-icon {
    color: rgba(0,0,0,0.54);
}
button.md-button md-icon.fa.dfx-studio-flex-icon {
    display: -webkit-inline-flex;
    display: inline-flex;
}