div#dfxScreensPanel.panel.panel-default.collapsed
    div.panel-heading
        div.col-sm-6
            h3
                span.badge.badge-primary #{nbscreens}
                | &nbsp;Application Pages&nbsp;
                span.fa.fa-lg.fa-angle-right
        div.col-sm-6
            form.search-components.form-inline(method="get", role="form", onsubmit="return false;")
                div.form-group.col-xxl-9.col-xl-9.col-lg-8.col-md-7
                    div.input-group(style="width: 100%;")
                        input#fldScreenName.form-control(type="text", placeholder="Search a page", aria-describedby="component-search-button")
                        span#component-search-button.input-group-addon.btn-info(style="width: 1%;")
                            span.fa.fa-lg.fa-search(type="button", title="Search a page", data-toggle="tooltip", data-placement="right", onclick="DfxStudio.Home.Screens.searchScreen({applicationName: '#{applicationName}'});", style="border: none;")
                div.form-group.pull-right
                    span.fa.fa-2x.fa-plus(type="button", title="Create page", data-toggle="tooltip", data-placement="right", onclick="DfxStudio.Screens.createScreen({application:'#{applicationName}'});")
        div.clearfix
    div#dfx_screen_search_result.panel-body(style="padding-top: 20px; display: none;")
        table.table.table-condensed.table-thick-bordered(style="margin-bottom: 0;")
            col(width="30%")
            col(width="10%")
            col(width="40%")
            col(width="20%")
            thead
                tr
                    th(style="padding-left:20px") Name
                    th Title
                    th Category
                    th Action
        div.screens-table(style="overflow: hidden;")
            table.table.table-condensed.table-thick-bordered
                col(width="30%")
                col(width="10%")
                col(width="40%")
                col(width="20%")
                tbody#dfx_screen_search_result_body
