<div layout="column" flex>
  <div layout="row" layout-align="start center" flex="100" style="height:80px; background:#00bae7">
    <div style="margin-left:30px"><img src="/img/dfx_login_logo_white.png" style="width:45px;height:45px" /></div>
    <div flex style="margin-left:30px;height:80px" layout="row" layout-align="start end">
      <a ng-click="routeToPage('Home', $event)" class="dfx-core-web-menu-item dfx-core-web-menu-item-selected">Home</a>
      <a ng-click="routeToPage('Page1', $event)" class="dfx-core-web-menu-item">Page 1</a>
      <a ng-click="routeToPage('Page2', $event)" class="dfx-core-web-menu-item">Page 2</a>
      <a ng-click="routeToPage('Page3', $event)" class="dfx-core-web-menu-item">Page 3</a>
    </div>
    <div style="line-height:55px;margin-right:37px">
      <a href="login.html" style="margin-left:20px;color:#fff;font-size:14px;font-face:helveticaNeue;">Logout</a>
    </div>
  </div>
</div>
