<div layout="column" flex>
  <div layout="row" flex="100" style="height:55px; background:#62BFAB">
    <div style="margin-top:18px;margin-left:10px"><img src="img/dfx_login_logo_white.png" style="width:25px;height:25px" /></div>
    <div flex style="color:#ffffff;font-size:18px;letter-spacing:5px;font-face:helveticaNeue;margin-top:18px;margin-left:30px">
      Sample Application
    </div>
    <div style="line-height:55px;margin-right:37px">
      <a href="#" style="color:#fff;font-size:14px;font-face:helveticaNeue;">Profile</a>
      <a href="login.html" style="margin-left:20px;color:#fff;font-size:14px;font-face:helveticaNeue;">Logout</a>
    </div>
  </div>
  <div layout="row" flex="100" style="height:42px; background:#586474">
    <div style=" line-height:42px;width:108px;text-align:center">
      <a ng-click="routeToPage('Home')" style="color:#fff;font-size:14px;font-face:helveticaNeue;">Home</a>
    </div>
    <div style=" line-height:42px;width:108px;text-align:center">
      <a ng-click="routeToPage('Page2')" style="color:#fff;font-size:14px;font-face:helveticaNeue;">Page 2</a>
    </div>
    <div style=" line-height:42px;width:108px;text-align:center">
      <a ng-click="routeToPage('Page3')" style="color:#fff;font-size:14px;font-face:helveticaNeue;">Page 3</a>
    </div>
  </div>
</div>