mixin displayButton()
    include gc_button

mixin displayImage()
    include gc_image

mixin displayList()
    include gc_list

mixin displayStaticText()
    include gc_statictext

mixin displayCombobox()
    include gc_combobox

mixin displayPanel()
    include gc_panel

mixin displayDataGrid()
    include gc_datagrid

mixin displayInputfield()
    include gc_inputfield

mixin displayCheckbox()
    include gc_checkbox

mixin displayTextarea()
    include gc_textarea

mixin displayLink()
    include gc_link

mixin displayTabs()
    include gc_tabs

mixin displayChart()
    include gc_chart

mixin displayAccordion()
    include gc_accordion

mixin displayWizard()
    include gc_wizard

mixin displayRadio()
    include gc_radio

mixin displayTree()
    include gc_tree

mixin displayHtml()
    include gc_html

mixin displayRating()
    include gc_rating

mixin displaySlider()
    include gc_slider

mixin displayKnob()
    include gc_knob

mixin displayRadioToggle()
    include gc_radiotoggle

mixin displayCheckboxToggle()
    include gc_checkboxtoggle

mixin displayCarousel()
    include gc_carousel

if gcitem.type=='button'
    mixin displayButton()
if gcitem.type=='image'
    mixin displayImage()
if gcitem.type=='list'
    mixin displayList()
if gcitem.type=='statictext'
    mixin displayStaticText()
if gcitem.type=='combobox'
    mixin displayCombobox()
if gcitem.type=="panel"
    mixin displayPanel()
if gcitem.type=='datagrid'
    mixin displayDataGrid()
if gcitem.type=='inputfield'
    mixin displayInputfield()
if gcitem.type=='numberfield'
    mixin displayNumberfield()
if gcitem.type=='amountfield'
    mixin displayAmountfield()
if gcitem.type=='datefield'
    mixin displayDatefield()
if gcitem.type=='checkbox'
    mixin displayCheckbox()
if gcitem.type=='textarea'
    mixin displayTextarea()
if gcitem.type=='link'
    mixin displayLink()
if gcitem.type=='tabs'
    mixin displayTabs()
if gcitem.type=='chart'
    mixin displayChart()
if gcitem.type=='accordion'
    mixin displayAccordion()
if gcitem.type=='wizard'
    mixin displayWizard()
if gcitem.type=='radio'
    mixin displayRadio()
if gcitem.type=='tree'
    mixin displayTree()
if gcitem.type=='html'
    mixin displayHtml()
if gcitem.type=='rating'
    mixin displayRating()
if gcitem.type=='slider'
    mixin displaySlider()
if gcitem.type=='knob'
    mixin displayKnob()
if gcitem.type=='radiotoggle'
    mixin displayRadioToggle()
if gcitem.type=='checkboxtoggle'
    mixin displayCheckboxToggle()
if gcitem.type=='carousel'
    mixin displayCarousel()