div
    h4 Checkboxes
    div
        form#checkboxesForm(action="javascript:void(0);", style="margin-top:10px")
            fieldset
                div.form-group.col-lg-6
                    label(for="fldId") Id:
                    input#fldId.form-control(type="text", data-inputname="id", placeholder="id")
                 div.form-group.col-lg-6
                    label(for="fldName") Name:
                    input#fldId.form-control(type="text", data-inputname="name", placeholder="name")         
                div.form-group.col-lg-6
                    label(for="fldLabel") Label:
                    input#fldLabel.form-control(type="text", data-inputname="label", placeholder="label")
                